{% extends 'indexUser.html'%}
{% block content %}
  <h2 class="page-title">Users</h2>

  <!-- Zero Configuration Table -->
  <div class="panel panel-default">
    <div class="panel-heading">Blog Information</div>
    <div class="panel-body">
      <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Heading</th>
            <th>Posted on</th>
            <th>Edit</th>
            <th>Drop</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data.blog %}
            <tr>
              <td><a href="/admin/editBlog/{{d._id.toString()}}">{{d.heading}}</a></td>
              <td>{{d.timestamp}}</td>
              <td><a href="/admin/editBlog/{{d._id.toString()}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
              <td><i class="fa fa-trash"></i></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
