{%extends 'indexBlog.html'%}
{%block title%} Edit Blog
{%endblock%}
{%block container%}
<section class="profile-edit">
		<header>
			<div class="wrapper">
				<h2 class="h2">Edit Blog</h2>
			</div>
		</header>
		{% if error.length>0 %}
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{error[0]}}
					</div>
				</div>
			</div>
		{% endif %}
		<div class="entry-content">
			<div class="wrapper">
				<form method="POST" action="/admin/editBlog/{{data._id.toString()}}">
					<div class="field">
						<label>Edit Blog</label>
					</div>
					<div class="input-field">
						<label for="heading">Heading</label>
						<input type="text" name="heading" required id="heading" value="{{data.heading}}">
					</div>
					<div class="input-field">
						<label for="subheading">Sub Heading</label>
						<input type="text" name="subheading" required id="subheading" value="{{data.subheading}}">
					</div>
					<div class="input-field">
						<label>Content</label>
						<textarea onchange="assign()" name="content" id="textarea1">{{data.content}}</textarea>
					</div>
					<div class="btn blue btn-inline">
						<input type="submit" value="Save" class="btn-arrow">
					</div>
				</form>
			</div>
		</div>
	</section>
{%endblock%}
{%block customScript%}
<script>
		tinymce.init( {
		selector: 'textarea',
		height: 500,
		theme: 'modern',
		elementpath: false,
		plugins: [
			'advlist autolink lists link charmap preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime nonbreaking table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools'
		],
		toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
		toolbar2: ' preview | forecolor backcolor emoticons',
		content_css: [
			'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
			'//www.tinymce.com/css/codepen.min.css'
		]
	 });
	 function assign(){
		//  $('#content').val(tinyMCE.activeEditor.getContent());
		tinymce.get('textarea1').save();
	 }
</script>
{%endblock%}
