{% extends 'index.html' %}
{%block customCss%}
<style type="text/css">
.bootstrap-tagsinput {
    width: 100%;
}
</style>
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="plugins/timepicker/bootstrap-timepicker.min.css">
<!-- For Tag -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
{%endblock%}
{% block content %}
<div class="row">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Edit an Event</div>
    <div class="panel-body">
      <form method="POST" action="/admin/events/{{events._id.toString()}}" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Event Name</label>
          <div class="col-sm-7">
            <input type="text" name="name" placeholder="Name" value="{{events.name}}" required class="form-control">
          </div>
        </div>
        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Descripton</label>
          <div class="col-sm-7">
            <textarea type="text" required name="description" rows="5" placeholder="Description" class="form-control">{{events.description}}</textarea>
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Brief</label>
          <div class="col-sm-7">
            <textarea type="text" required name="brief" rows="2" placeholder="Brief" class="form-control">{{events.brief}}</textarea>
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address</label>
          <div class="col-sm-7">
            <textarea type="text" required class="form-control" rows="2" placeholder="Address" name="address">{{events.address}}</textarea>
          </div>
        </div>

        <div class="hr-dashed"></div>
          <div class="form-group">
          <label class="col-sm-3 control-label">Select Date and time</label>

          <div class="input-group col-sm-7" >
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
            <input type="text" value="{{events.timing}}" class="form-control pull-right" name="timing" id="reservationtime">
          </div>
          <!-- /.input group -->
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Last Date to apply</label>

          <div class="input-group col-sm-7" >
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-left" value="{{events.lastDate}}" name="lastDate" id="datepicker">
          </div>
          <!-- /.input group -->
        </div>

        <div class="hr-dashed"></div>
          <div class="form-group">
          <label class="col-sm-3 control-label">Url (If any)</label>
          <div class="input-group col-sm-7">
            <div class="input-group-addon">
              <i class="fa fa-external-link"></i>
            </div>
            <input type="text" name="url" value="{{events.url}}" placeholder="Link to event" class="form-control">
          </div>
        </div>

        <div class="hr-dashed"></div> 
          <div class="form-group">
          <label class="col-sm-3 control-label">Currency</label>
          <div class="input-group col-sm-7">
            <select name="currency" class="form-control">
              <option selected="" disabled="">Please select an option</option>
              <option {% if events.currency == "rupee"%} selected="" {% endif %} value="rupee" class="fa fa-inr">Rupee</option>
              <option {% if events.currency == "dollar"%} selected="" {% endif %} value="dollar" class="fa fa-dollar">Dollar</option>
            </select>
          </div>
        </div>

        <div class="hr-dashed"></div>
          <div class="form-group">
          <label class="col-sm-3 control-label">Pricing</label>
          <div class="input-group col-sm-7">
            <div class="input-group-addon">
              <i class="fa fa-inr"></i>
            </div>
            <input type="text" name="pricing" placeholder="Pricing" value="{{events.pricing}}" required class="form-control">
          </div>
        </div>

       <div class="hr-dashed"></div> 
          <div class="form-group">
          <label class="col-sm-3 control-label">Category</label>
          <div class="input-group col-sm-7">
            <select name="category" class="form-control">
              <option selected disabled>Please select an option</option>
              <option value="scholarship" {%if events.category=="scholarship"%} selected {% endif %} >Scholarship</option>
              <option {%if events.category=="competition"%} selected="" {%endif %} value="competition">Competition</option>
            </select>
          </div>
        </div>

        <div class="hr-dashed"></div>
          <div class="form-group">
          <label class="col-sm-3 control-label">Add Category</label>
          <div class="input-group col-sm-7">
            <input type="text" name="tags" value="{{events.tags}}" data-role="tagsinput" id="tags" title="Enter Tags" class="form-control">
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-default" type="submit">Cancel</button>
            <button class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{%endblock%}
{%block customScript%}
<!-- Date Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script> 
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- End of Date Scripts -->
<!-- Script For Tag -->
<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
<!-- End of Script for Tag -->
<script type="text/javascript">
//For Date Picker
$('#datepicker').datepicker({
  autoclose: true
});

//For TIme and Date Range
$('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 15, locale: { format : 'MM/DD/YYYY h:mm A' } });  

</script>
{%endblock}
