<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Skill Maker, Carebuddy , Learn Skills, Teach Skills">
    <meta name="author" content="anv13">

    <title>SkillMaker - {% block title %}{% endblock %}</title>
  {% block default %}
  <link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/app2.css">
	<script src="js/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="js/jquery-ui.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/global.js"></script>
	<script src="js/slick.js"></script>
  <script type="text/javascript" src="js/jsonform-master/deps/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
	{% endblock %}
  {%block customHeader%}
  {%endblock%}
  </head>
  <body>
  {% block header %}
  	<header class="main-header">
		<div class="container">
			<div class="logo">
				<h1><a href="#">SkillMaker</a></h1>
			</div>
			<nav>
				<ul>
          <li><a href="/admin">Admin</a></li>
				</ul>
			</nav>
		</div>
	</header>
  {%endblock%}
  {% block container%}
  {% endblock %}
  {% block footer %}
  	<!-- <footer>
		<div class="container">
			<div class="col">
				<a href="#" class="footer-logo">SkillMaker</a>
				<span class="copyright"><i class="mdi mdi-copyright">©</i> 2016 Daily Muse, Inc</span>
			</div>
			<div class="col">
				<h5>company</h5>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">bBlog</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Become a Teacher</a></li>
				</ul>
			</div>
			<div class="col">
				<h5>links</h5>
				<ul>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">FAQs</a></li>
				</ul>
			</div>
			<div class="col">
				<h5>support</h5>
				<ul>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Language Packs</a></li>
					<li><a href="#">Release Status</a></li>
				</ul>
			</div>
			<div class="col">
				<h5>join us</h5>
				<div class="social">
					<ul>
						<li><a href="#" class="facebook"><i class="mdi mdi-facebook"></i></a></li>
						<li><a href="#" class="twiiter"><i class="mdi mdi-twitter"></i></a></li>
						<li><a href="#" class="google"><i class="mdi mdi-google"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer> -->
  {%endblock%}
</body>
{% block customScript %}

{%endblock%}
</html>
