{% extends 'index.html' %}
{%block customCss%}
<style type="text/css">
.bootstrap-tagsinput {
    width: 100%;
}
/*.label-tags {
    line-height: 2 !important;
}*/
</style>
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="plugins/timepicker/bootstrap-timepicker.min.css">
<!-- For Tag -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
{%endblock%}
{% block content %}
<div class="row">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Add an Event</div>
    <div class="panel-body">
      <form method="POST" action="/admin/events" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Event Name</label>
          <div class="col-sm-7">
            <input type="text" name="name" placeholder="Name" required class="form-control">
          </div>
        </div>
        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Descripton</label>
          <div class="col-sm-7">
            <textarea type="text" required name="description" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Brief</label>
          <div class="col-sm-7">
            <textarea type="text" required name="brief" rows="2" placeholder="Brief" class="form-control"></textarea>
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address</label>
          <div class="col-sm-7">
            <textarea type="text" required class="form-control" placeholder="Address" name="address"></textarea>
          </div>
        </div>


        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Select Date and time</label>

          <div class="input-group col-sm-7" >
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
            <input type="text" class="form-control pull-left" name="timing" id="reservationtime">
          </div>
          <!-- /.input group -->
        </div>
         <!--  <div class="form-group">
          <label class="col-sm-2 control-label">Timing</label>
          <div class="col-sm-10">
            <input type="text" name="timing" placeholder="Timing" required class="form-control">
          </div>
        </div> -->

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Last Date to apply</label>

          <div class="input-group col-sm-7" >
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-left" name="lastDate" id="datepicker">
          </div>
          <!-- /.input group -->
        </div>

        <div class="hr-dashed"></div>
          <div class="form-group">
          <label class="col-sm-3 control-label">Url (If any)</label>
          <div class="input-group col-sm-7">
            <div class="input-group-addon">
              <i class="fa fa-external-link"></i>
            </div>
            <input type="text" name="url" placeholder="Link to event" class="form-control">
          </div>
        </div>

         <div class="hr-dashed"></div> 
          <div class="form-group">
          <label class="col-sm-3 control-label">Currency</label>
          <div class="input-group col-sm-7">
            <select name="currency" class="form-control">
              <option selected="" disabled="">Please select an option</option>
              <option value="rupee" class="fa fa-inr">Rupee</option>
              <option value="dollar" class="fa fa-dollar">Dollar</option>
            </select>
          </div>
        </div>

        <div class="hr-dashed"></div> 
          <div class="form-group">
          <label class="col-sm-3 control-label">Pricing</label>
          <div class="input-group col-sm-7">
            <div class="input-group-addon pricing-addon">
              <i class="fa fa-inr"></i>
            </div>
            <input type="text" name="pricing" placeholder="Pricing" required class="form-control">
          </div>
        </div>

        <div class="hr-dashed"></div> 
          <div class="form-group">
          <label class="col-sm-3 control-label">Category</label>
          <div class="input-group col-sm-7">
            <select name="category" class="form-control">
              <option selected="" disabled="">Please select an option</option>
              <option value="scholarship">Scholarship</option>
              <option value="competition">Competition</option>
            </select>
          </div>
        </div>

        <div class="hr-dashed"></div>
          <div class="form-group">
          <label class="col-sm-3 control-label">Add Category</label>
          <div class="input-group col-sm-7">
            <input type="text" name="tags" data-role="tagsinput" id="tags" title="Enter Tags" class="form-control">
          </div>
        </div>

         <div class="hr-dashed"></div>
         <div class="form-group">
          <label class="col-sm-3 control-label">Cover Image</label>
          <div class="fileinput fileinput-new" data-provides="fileinput">
              <span>Choose file</span><input name="attach" id="attach" type="file" />
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-default" type="submit">Cancel</button>
            <button class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
</div>
{%endblock%}
{%block customScript%}
<!-- Date Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script> 
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- End of Date Scripts -->
<!-- Script For Tag -->
<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
<!-- End of Script for Tag -->
<script type="text/javascript">
//For Date Picker
$('#datepicker').datepicker({
  autoclose: true
});

//For TIme and Date Range
$('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 15, locale: { format : 'MM/DD/YYYY h:mm A' } });  
</script>
{%endblock}
