{% extends 'index.html' %}
{% block content %}
<div class="row">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Add a Skill</div>
    <div class="panel-body">
      <form method="POST" action="/admin/skills" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" placeholder="Name" required class="form-control">
          </div>
        </div>
        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Descripton</label>
          <div class="col-sm-10">
            <textarea type="text" required name="description" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>
        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Why you should learn this skill</label>
          <div class="col-sm-10">
            <textarea type="text" required class="form-control" placeholder="Duration" name="reason"></textarea>
          </div>
        </div>
        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">About</label>
          <div class="col-sm-10">
            <textarea type="text" required name="about" placeholder="About" class="form-control"></textarea>
          </div>
        </div>
        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Skill Category</label>
          <div class="col-sm-10">
            <select name="category" class="form-control">
              <option value="Accounting and Financial Services">Accounting and Financial Services</option>
              <option value="Allied Health Course">Allied Health Course</option>
              <option value="Animal Studies">Animal Studies</option>
              <option value="Automotive">Automotive</option>
              <option value="Baking">Baking</option>
              <option value="Beauty">Beauty</option>
              <option value="Building And Construction">Building And Construction</option>
              <option value="Business and Clerical">Business and Clerical</option>
              <option value="Carpentry">Carpentry</option>
              <option value="Children's Services">Children's Services</option>
              <option value="Community Services">Community Services</option>
              <option value="Electrical">Electrical</option>
              <option value="Hair and Beauty">Hair and Beauty</option>
              <option value="Health and Nursing">Health and Nursing</option>
              <option value="Horiculture">Horiculture</option>
              <option value="Justice Studies">Justice Studies</option>
              <option value="Labaratory Science">Labaratory Science</option>
              <option value="Legal Practices">Legal Practices</option>
              <option value="Logistics and Supply Chain Management">Logistics and Supply Chain Management</option>
              <option value="Pathology">Pathology</option>
              <option value="Plumbing">Plumbing</option>
              <option value="Security and Public Safety">Security and Public Safety</option>
              <option value="Tourism">Tourism</option>
              <option value="Veterinary Nursing">Veterinary Nursing</option>
              <option value="Work Education">Work Education</option>
              <option value="Warehousing">Warehousing</option>
            </select>
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Select the default Mentor for this Skill</label>
          <div class="col-sm-10">
            <select name = "mentor" class="form-control">
            {% for data in mentor %}
              <option value="{{data._id.toString()}}">{{data.name}}</option>
            {%endfor%}
            </select>
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Rating</label>
          <div class="col-sm-10">
            <select name = "rating" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

        <div class="hr-dashed"></div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-default" type="submit">Cancel</button>
            <button class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
</div>
{%endblock%}
