{%extends 'indexUser.html'%}
{%block id1%}{{data._id.toString()}}{%endblock%}
{%block id2%}{{data._id.toString()}}{%endblock%}
{%block customHeader%}
{%endblock%}
{%block customScript%}
	<link rel="stylesheet" type="text/css" href="css/app.css">
{%endblock%}
{%block content%}
<section class="profile-edit">
		<div class="entry-content">
			<div class="wrapper">
				<form>
					<div class="input-field">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" value="{{data.name}}">
					</div>
					<div class="input-field">
						<label for="email">Alternate email</label>
						<input type="email" name="altEmail" id="altEmail" value="{{data.altEmail}}">
					</div>
					<div class="input-field">
						<label>Age</label>
						<input type="text" name="age" class="datepicker" value="{{data.age}}">
					</div>
					<div class="input-field">
						<label for="address">Linked In</label>
						<input type="text" name="linkedIn" value="{{data.linkedIn}}">
					</div>
					<div class="input-field">
						<label for="number">Phone no.</label>
						<input type="text" name="mobile" value="{{data.phone.mobile}}">
					</div>
					<div class="btn blue btn-inline">
						<input type="submit" value="Save" class="btn-arrow">
					</div>
				</form>
			</div>
		</div>
	</section>
{%endblock%}
