{% extends 'index.html'%}
{% block content %}
  <h2 class="page-title">Skills</h2>

  <!-- Zero Configuration Table -->
  <div class="panel panel-default">
    <div class="panel-heading">Skill Information</div>
    <div class="panel-body">
      <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mentor Name</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for data in skills %}
            <tr>
              <td><a href ="/admin/skills/{{data._id.toString()}}">{{data.name}}</a></td>
              <td>{{data.mentorName.name}}</td>
              <td>{{data.category}}</td>
              <td>{{data.rating}}</td>
              <td><i class="fa fa-trash"></i></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href ="/admin/addSkill"><button class ="btn btn-primary">Add Skill</button></a>
    </div>
  </div>
{% endblock %}
