{% extends 'index.html'%}
{% block content %}
  <h2 class="page-title">Events</h2>

  <!-- Zero Configuration Table -->
  <div class="panel panel-default">
    <div class="panel-heading">Events</div>
    <div class="panel-body">
      <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Pricing</th>
            <th>Timing</th>
            <th>Status</th>   
          </tr>
        </thead>
        <tbody>
          {% for data in events %}
            <tr>
              <td><a href ="/admin/events/{{data._id.toString()}}">{{data.name}}</a></td>
              <td>{{data.pricing}}</td>
              <td>{{data.timing}}</td>
              <td>{{data.status}}</td>
              <td><i class="fa fa-trash"></i></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href ="/admin/addEvent"><button class ="btn btn-primary">Add Event</button></a>
    </div>
  </div>
{% endblock %}
