{% extends 'index.html'%}
{% block content %}
  <h2 class="page-title">Users</h2>

  <!-- Zero Configuration Table -->
  <div class="panel panel-default">
    <div class="panel-heading">User Information</div>
    <div class="panel-body">
      <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mentor</th>
            <th>Admin</th>
            <th>Email Id</th>
            <th>Last Logins</th>
            <th>Drop</th>
          </tr>
        </thead>
        <tbody>
          {% for data in users %}
            <tr>
              <td><a href="/admin/users/{{data._id.toString()}}">{{data.name}}</a></td>
              <td>{% if data._isMentor %} <a href ="/admin/users/mentor/0/{{data._id.toString()}}"><i class="fa fa-check" aria-hidden="true" style="color:green"></i></a>{%else%}<a href ="/admin/users/mentor/1/{{data._id.toString()}}"> <i class="fa fa-times" aria-hidden="true" style="color:red"></i></a>
{%endif%}  </td>
              <td>{% if data._isAdmin %}<a href ="/admin/users/admin/0/{{data._id.toString()}}"><i class="fa fa-check" aria-hidden="true" style="color:green"></i></a>{%else%} <a href ="/admin/users/admin/1/{{data._id.toString()}}"><i class="fa fa-times" aria-hidden="true" style="color:red"></i></a>
{%endif%}</td>
              <td>{{data.email}}</td>
              <td>{{data.lastlogin}}</td>
              <td><i class="fa fa-trash"></i></td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
