
{% extends '../users/index.html' %}

{%block title%} Forum {%endblock%}
{% block container%}

	<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="questions">
			<header class="search-banner">
				<div class="wrapper left-align heading">
					<h3>Anwsers</h3>
					<h5 class="pull-right"><a href="/forum/newQuestion">Ask a question</a></h5>
				</div>
			</header>

			<div class="body page-content">
				<div class="wrapper">
					<div class="left-content">
						<h4 class="heading_q">Latest Answers</h4>
						<div class="question-list" id="list">

						</div>
						<div class="text-center list-p">
							<div class="btn orange btn-inline small">
								<a href="#" id="loadmore">Load more</a>
							</div>
						</div>
					</div>
					<div class="sidebar-content">
						<h4 class="heading_q top">Search Questions</h4>
						<ul class="block">
							<li>
								<a href="#" class="ques_a">Looking to learn about targeting ads with a list of web-scrapped email addresses. What are my options?</a>
								<a href="#" class="answer-wb">
									<div class="user_answer">
										<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
										<p>Never start work with a client before having a signed contract in hand.  The contract is the first step to making sure that both parties understand the expectations of the project such as payment expectations, the deliverable, the project schedule.  </p>
										<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
									</div>
									<div class="user_name">
										Eric Silverthorn
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
{% endblock%}
{% block customScript %}
<script>
var id =0;
	function data(){
		id =id +3;
		$.ajax({
					type: 'POST',
					url : "/forum/data/"+id,
					success: function(res) {
						console.log("Res",res);
						var message = "";
						for (var i=0;i<res.length;i++)
						{
							console.log(res,res[i]);
							var mode = "Anonymous"
							if(!res[i].mode && res[i].askedBy)
							{
								mode = res[i].askedBy.name;
							}
							message='<article>'+
									'<div class = "topics">'+
										'<h6>'+res[i].details+'</h6>'+
									'</div>'+
									'<h2><a href="/forum/question/'+res[i]._id.toString()+'" class="ques_a" >'+res[i].question+'</a></h2><h6>  '+moment(res[i].time,"MMMM Do YYYY, h:mm:ss a").fromNow()+' , asked by '+mode+'</h6>';
									if( res[i].answers.length>0 )
									{
											message = message +
										'<div class="meta">'+
											'<h6>'+moment(res[i].answers[0].answer.time,"MMMM Do YYYY, h:mm:ss a").fromNow()+',    '+res[i].answers[0].user.name+'      answered</h6>'+
										'</div>'+
										'<a target="_blank" href="/forum/question/'+res[i]._id.toString()+'" class="answer-wb">'+
											'<div class="user_answer">'+
												'<p>'+res[i].answers[0].answer.answer+'</p>'+
											'</div>'+
										'</a>';
									}
									message = message + '</article>';
									console.log("message",message);
									$('.question-list').append(message);
						}
					},
					error: function(err,error)
					{
						console.log(err,"error");
					}
				});
	}
	$(document).ready(function() {
		data();
	});
	$('#loadmore').click(function(e){
		e.preventDefault();
		data();
	})

	// function search(){
	//
	// 	$.ajax({
	// 				type: 'POST',
	// 				url : "/forum/search",
	// 				success: function(res) {
	// 					console.log("Res",res);
	// 					var message = "";
	// 					for (var i=0;i<res.length;i++)
	// 					{
	// 						console.log(res[i]);
	// 						message =	'<ul class="block">'+
	// 						    '<li>'+
	// 									'<a href="#" class="ques_a"></a>'+
	// 									'<a href="#" class="answer">'+
	// 										'<div class="user_answer">'+
	// 										'</div>'+
	// 										'<div class="user_name">'+
	// 										'</div>'+
	// 								'	</a>'+
	// 								'</li>'+
	// 							'</ul>'+
	// 							$('.question-list').append(message);
	// 					}
	// 				},
	// 				error: function(err,error)
	// 				{
	// 					console.log(err,"error");
	// 				}
	// 			});
	// }
	</script>
{%endblock%}
