{% extends '../users/index.html'%}
{%block container%}
<div class="viewport">
	<div class="header-tablet">
		<div class="hamburger">
			<span class="nav-btn"></span>
		</div>
		<div class="logo text-center">
			<a href="#">
				<img src="images/logo.png" alt="SkillMaker">
			</a>
		</div>
	</div>

	<div class="questions new_question">
		<header class="search-banner small">
			<div class="wrapper">
				<h4 class="left-align"><a href="/forum"><i class="mdi mdi-chevron-left"></i>Back</a></h4>
			</div>
		</header>
		<div class="body page-content">
			<div class="wrapper">
				<div class="profile-edit">
					<div class="entry-content">
						<h4 class="heading_q">Ask a question</h4>
						<form method="POST" action="/forum/newQuestion">
							<div class="input-field drop">
								<label for="question">Anonymous</label>
								<select name ="mode" class="dropdown">
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>
							<div class="input-field">
								<label for="question">Question</label>
								<textarea id="question" required name="question" placeholder="Enter your question" rows="4"></textarea>
							</div>
							<div class="input-field">
								<label for="question">Details</label>
								<textarea id="question" required name="detail" placeholder="Provide more detail" rows="4"></textarea>
							</div>
							<div class="input-field">
								<label for="question">Add Topics</label>
								<input type="text" required name="topics" placeholder="Search topics">
							</div>
							<div class="text-center">
								<div class="btn orange btn-inline small">
									<input type="submit" value="Ask question">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="tips">
					<h4 class="heading_q">Tips</h4>
					<ul>
						<li>Ask a specific question.</li>
						<li>Be brief and to the point.</li>
						<li>Stay focused on a single topic.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
{%endblock%}
