{%extends '../users/index.html' %}
{%block container%}
<div class="viewport">
	<div class="header-tablet">
		<div class="hamburger">
			<span class="nav-btn"></span>
		</div>
		<div class="logo text-center">
			<a href="#">
				<img src="images/logo.png" alt="SkillMaker">
			</a>
		</div>
	</div>

	<div class="questions new_question single_question">
		<header class="search-banner">
				<div class="wrapper left-align heading">
				{% if user._isMentor %}<a href="#" class="btn" onclick="answerbox()"><h5 class="pull-right">Write an Answer</a>{%endif%}
					
				</div>
			</header>
		<div class="body">

			<div class="dark-full question_sec text-dark-d space-bottom-20">
				<div class="wrapper heading">
					<a href="#"><code>{{data.topics}}</code></a>
					<h3 class="heading_q">{{data.question}} - {{data.details}}</h3>
					<div class="action_bar">
						{% if user._isMentor %}<a href="#" class="btn" onclick="answerbox()">Answer<code>{%if data.answerCount %}{{data.answerCount}}{%else%}0{%endif%}</code></a>{%endif%}
						<!-- <a href="#">follow<code>{{data.follow}}</code></a> -->
						<a href="#">comment<code>{%if data.commentCount%}{{data.commentCount}}{%else%}0{%endif%}</code></a>
						<!-- <a href="#">share<code>5</code></a> -->
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="left-content">

					<div class="all_answer">
						<h4 class="heading_q" id ="answer"></h4>
						<div id ="ans">
							<!-- <div id="answer">
							</div> -->
							<div class="submit btn orange btn-inline"></div>
						</div>
					</div>
				</div>
				<div class="sidebar-content">

					<h4 class="heading_q top">Related Questions</h4>
					<ul class="block">
						<li>
							<a href="#" class="ques_a">Looking to learn about targeting ads with a list of web-scrapped email addresses. What are my options?</a>
							<a href="#" class="answer-wb">
								<div class="user_answer">
									<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
									<p>Never start work with a client before having a signed contract in hand.  The contract is the first step to making sure that both parties understand the expectations of the project such as payment expectations, the deliverable, the project schedule.  </p>
									<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
								</div>
								<div class="user_name">
									Eric Silverthorn
								</div>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block customScript %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
	function answerbox(){
		console.log($('#ans').length);
		if($("#ans").length<=1) {
		  //it doesn't exist
			$('#answer').append('<textarea id="ans"></textarea>');
			tinymce.init( {
			selector: 'textarea',
			height: 200,
			theme: 'modern',
			elementpath: false,
			plugins: [
				'advlist autolink lists link image charmap preview hr anchor pagebreak',
				'searchreplace wordcount visualblocks visualchars code fullscreen',
				'insertdatetime nonbreaking table contextmenu directionality',
				'emoticons template paste textcolor colorpicker textpattern imagetools'
			],
			toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
			toolbar2: ' preview | forecolor backcolor emoticons',
			content_css: [
				'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
				'//www.tinymce.com/css/codepen.min.css'
			]
		 });
		 $('.submit').append('<br><a class="sub" onclick="submit()">Submit<br><br></a>');
		}
	}
	function submit(){
		var params = {"answer":tinyMCE.activeEditor.getContent()};
		$.ajax({
          type: 'POST',
          url : "../addAnswer",
          data: JSON.stringify(params),
          contentType: "application/json; charset=utf-8",
          success: function(res) {
						location.reload();
					},
					error: function(err,error)
					{
						bootbox.alert("Faced Internal Error. Please Try again");
						console.log(err,"error");
					}
				});
		console.log(tinyMCE.activeEditor.getContent());
	}
	function vote(link){
		console.log(link);
		$.ajax({
          type: 'GET',
          url : link,
          success: function(res) {
          			// console.log(res);
          			var arr = link.split("/");
          			console.log(arr,arr.length-1)
          			var id = arr[arr.length-1]
          			if(res.code == "success")
          			{
          				var s, title, url ;
          				var value = $('.upvoteButton').html();
          				var a = $('#votebutton').html();
          				var arr = value.split("<code>");
          				var vote  = parseInt(arr[1].split("</code>")[0]);
          				if(arr[0] == "Upvote")
          					{
          						s = "Upvoted" ;
          						vote = vote+1;
          						title = "DownVote";
          						url = "/forum/downvote/"+res.ansid+"/"+res.id;
          					}
          				else if (arr[0] == "Upvoted")
          					{
          						s = "Upvote";
          						vote = vote-1;
          						title = "UpVote";
          						url = "/forum/upvote/"+res.ansid+"/"+res.id;
          					}
          					console.log(a);
          					s = s + "<code>"+vote+"</code>";
          					var append = "<a href='#' title="+title+" id='vote_"+res.ansid+"' onclick='vote(\""+url+"\"); return false;' class='btn'><div class='upvoteButton'>"+s+"</div></a>";
          					console.log(append)
          					$('#votebutton').html(append);
          				console.log(append,"s");
          			}
					},
					error: function(err,error)
					{	
						console.log(err,"error");
					}
				});
	}

	var arr =  window.location.pathname.split('/')
	console.log(arr);
	var id = arr[3];
	var params = {"id":id};
	$.ajax({
				type: 'POST',
				url : "../../questionData",
				data: JSON.stringify(params),
				contentType: "application/json; charset=utf-8",
				success: function(res) {
					// console.log(res);
					var message ="";
					// console.log("res",res)
					var ans = res.answers;
					// console.log(ans);
					// console.log(res._id,"res_id");
					// console.log("ans",ans[0]);
					for (var i=0;i<ans.length;)
					{	
						var k=i;
						$.ajax({
						type: 'POST',
						url : "../../answerUpvoteStatus/"+ans[i].answer._id.toString()+'/'+res._id.toString(),
						contentType: "application/json; charset=utf-8",
						success: function(res1) {
						// console.log(ans[k],i,"answer user");
						console.log(res1);
							var upvote ;
							console.log(res1.res,"asdasd");
							var link1 = "/forum/downvote/"+ans[k].answer._id.toString()+"/"+res._id.toString();
							var link2 = "/forum/upvote/"+ans[k].answer._id.toString()+"/"+res._id.toString();
							if (res1.res)
							{
								upvote = "<a href='#' title='DownVote' id='vote_"+ans[k].answer._id.toString()+"' onclick='vote(\""+link1+"\"); return false;' class='btn'><div class='upvoteButton'>Upvoted<code>"+ans[k].answer.upvotes+"</code></div></a>";
							}
							else if (!res1.res){
								upvote = "<a href='#' title='UpVote' onclick='vote(\""+link2+"\");return false;' id='vote_"+ans[k].answer._id.toString()+"' class='btn'><div class='upvoteButton'>Upvote<code>"+ans[k].answer.upvotes+"</code></div></a>";
							}
							var co1=0;
							if(ans[k].commentCount)
								co1=ans[k].commentCount;
							message ='<a href="/users/profile/'+ans[k].user._id+'" class="user-img"><img src="images/profile-img.jpg"></a>'+
							'<div class="content">'+
								'<a href="/users/profile/'+res._id.toString()+'/'+ans[k].user._id+'" class="user-ans"><b>'+ans[k].user.name+'</b>              answered,    '+moment(ans[k].answer.time,"MMMM Do YYYY, h:mm:ss a").fromNow()+'</a><br>'+
								'<br><div class="answer_list">'+
									ans[k].answer.answer+
								'</div>'+
								'<div class="action_bar bottom">'+
									'<div class="btn btn-inline light small" id="votebutton">'+upvote+
								'	</div>'+
									'<a class="comment">Comments <code>'+co1+'</code></a>'+
								'</div>'+
							'</div>';
							// var co = ans[k].answer.comments;
							// console.log("message1",message);
							// for(var j=0;j<co.length;j++)
							// {
							// 	message =message +'<div class="sub-comment">'+
							// 		'<article>'+
							// 			'<a href="#" class="user-img"><img src="images/question_thumb.jpeg"></a>'+
							// 			'<div class="content">'+
							// 				'<a href="/users/profile/'+co[j].user.image+'" class="user-ans"><b>'+co[j].user.name+','+co.user.descriptions+'</b>answered</a>'+
							// 				'<div class="answer_list">'+
							// 					'<p>'+co[j].comment+' </p>'+
							// 			'	</div>'+
							// 				'<div class="action_bar bottom">'+
							// 					'<p>'+moment(co[j].time,"MMMM Do YYYY, h:mm:ss a").fromNow()+'</p>'+
							// 					'<div class="btn btn-inline light small">'+
							// 							'<a id="comment_'+co[j]._id+'" class="btn">Upvote</a><code>'+co[j].upvotes+'</code>'+
							// 				'	</div>'+
							// 				'</div>'+
							// 		'	</div>'+
							// 		'</article>';
							// 	}
								// console.log("message2",message);
								message = message +	'</div>'+
								'</article>'+
												'</div>';
								console.log("message");
								$('.all_answer').append(message);
							},
							error : function(err,error){

							}
							});
						i++;
					}
				},
				error: function(err,error)
				{
					console.log(err,"error");
				}
			});
</script>
{%endblock%}
