{%extends 'index.html'%}

{%block title%}Mentor Skills{%endblock%}

{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>
		<div class="apply-for-expert">
			<header class="search-banner small">
				<div class="wrapper">
					<h4 class="left-align"><a href="/apply"><i class="fa fa-angle-left"></i>Back</a></h4>
				</div>
			</header>
			<div class="profile-info">
				<div class="wrapper">
					<!-- <div class="thumbnail-small-s img-rounded list-s text-dark col-1">
						<img src="images/profile-img.jpg">
					</div> -->
					<div class="col-9">
						<h3 class="list-s text-dark-d">New Area of Expertise</h3>
					</div>
				</div>
			</div>
			<div class="body">
				<div class="wrapper">
					<div class="profile-edit">
						<div class="entry-content col-6">

							<form method="POST" action="/apply/skills">
								<div class="input-field">
									<label for="advice">Title</label>
									<input type="text" id="advice" name="title" placeholder="I will give you Advice on..">
									<p class="list-s text-dark-d">min 50 characters (optional)</p>
								</div>
								<div class="input-field">
									<label>Select a Category</label>
									<select name="category">
										<option value="Accounting and Financial Services">Accounting and Financial Services</option>
										<option value="Allied Health Course">Allied Health Course</option>
										<option value="Animal Studies">Animal Studies</option>
					                    <option value="Automotive">Automotive</option>
					                    <option value="Baking">Baking</option>
					                    <option value="Beauty">Beauty</option>
					                    <option value="Building And Construction">Building And Construction</option>
										<option value="Business and Clerical">Business and Clerical</option>
					                    <option value="Carpentry">Carpentry</option>
					                    <option value="Children's Services">Children's Services</option>
					                    <option value="Community Services">Community Services</option>
					                    <option value="Electrical">Electrical</option>
					                    <option value="Hair and Beauty">Hair and Beauty</option>
					                    <option value="Health and Nursing">Health and Nursing</option>
					                    <option value="Horiculture">Horiculture</option>
					                    <option value="Justice Studies">Justice Studies</option>
					                    <option value="Labaratory Science">Labaratory Science</option>
					                    <option value="Legal Practices">Legal Practices</option>
					                    <option value="Logistics and Supply Chain Management">Logistics and Supply Chain Management</option>
					                    <option value="Pathology">Pathology</option>
					                    <option value="Plumbing">Plumbing</option>
					                    <option value="Security and Public Safety">Security and Public Safety</option>
					                    <option value="Tourism">Tourism</option>
					                    <option value="Veterinary Nursing">Veterinary Nursing</option>
					                    <option value="Work Education">Work Education</option>
					                    <option value="Warehousing">Warehousing</option>
									</select>
									<!-- <p class="list-s text-dark-d">This is never shared and only used to send you notification</p> -->
								</div>
								<div class="input-field">
									<label for="description">Description</label>
									<textarea id="description" name="description" placeholder="Describe your experience, traning, etc that demonstrate your skills & passion. Also, describe the bene they'll receive." rows="4"></textarea>
								</div>
								<div class="input-field col-5">
									<label for="topics">Add Topics</label>
									<input type="text" id="topics" name="topics" placeholder="User Comma to Seperate Multiple Topics">
								</div>
								<!-- <div class="tags list-p">
									<a href="#"><code class="radius-small">tag 1</code></a>
									<a href="#"><code class="radius-small">tag 2</code></a>
									<a href="#"><code class="radius-small">tag 3</code></a>
									<a href="#"><code class="radius-small">tag 4</code></a>
								</div> -->
								<!-- <div class="input-field">
									<label>Cover Image <small>(optional)</small></label>
										<div class="btn small light btn-inline">
											<a href="#">choose file
												<input type="file">
											</a>
										</div>
									</div> -->

								<div class="btn orange btn-inline">
									<button type="submit"><a>Save Experties</a></button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
{%block footer%}
{%endblock%}
