{%extends 'index.html'%}

{%block title%} Apply For Mentor {%endblock%}

{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>
		<div class="apply-for-expert">
			<header class="search-banner small">
				<div class="wrapper">
					<h4 class="left-align"><a href="#"><i class="fa fa-angle-left"></i>Back</a></h4>
				</div>
			</header>
			<div class="profile-info">
				<div class="wrapper">
					<div class="thumbnail-small-s img-rounded list-s text-dark col-1">
						<img src="images/profile-img.jpg">
					</div>
					<div class="col-9">
						<h4 class="list-s">Personalize your profile page</h4>
						<p class="list-s">Your profile page is where others can learn more about you when making calls.</p>
					</div>
				</div>
			</div>
			<div class="body">
				<div class="wrapper">
					<div class="profile-edit">
						<div class="entry-content col-6">

							<form action="/apply" method="POST">
								<div class="input-field">
									<label for="bio">Short bio</label>
									<input type="text" name="resume" id="bio" placeholder="Your short bio">
									<p class="list-s text-dark-d">min 50 characters (optional)</p>
								</div>
								<div class="input-field">
									<label for="resume">Mini-Resume</label>
									<textarea id="resume" required name="miniResume" placeholder="Enter your mini-resume" rows="4"></textarea>
								</div>
								<div class="input-field">
									<label for="rate">Hourly Rate</label>
									<select name="rate">
										<option value="1">$10</option>
										<option value="1">$50</option>
										<option value="1">$100</option>
										<option value="1">$150</option>
									</select>
									<!-- <p class="list-s text-dark-d">This is never shared and only used to send you notification</p> -->
								</div>
								<div class="btn orange btn-inline">
									<button type="submit"><a>Continue<i class="fa fa-angle-right"></i></a></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
{%block footer%}
{%endblock%}
