{% extends 'index.html'%}

{%block title%} Dashboard {%endblock%}
{%block cssBlock%}
	{%endblock%}
{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="dashboard">
			<div class="short-bio dark-full user-menu">
				<div class="wrapper">

					<div class="col-3 col">
						<a href="#" class="internal block text-dark">
							<div class="image img-rounded thumbnail-small-s left-f">
								<img src="images/profile/default.png">
							</div>
							<h4 class="list-ss"><small>Hello</small></h4>
							<h5 class="list-s"><strong>{{user.name}}</strong></h5>
						</a>
					</div>
					{% if user._isMentor %}
					<div class="col-3 col">
						<a href="#" class="internal text-dark block">
							<div class="thumbnail-small-s left-f">
								<i class="fa fa-history icon-l text-dark"></i>
							</div>
							<h5 class="list-s"><strong>Your Histroy</strong></h5>
							<h4 class="list-ss"><small>Your Actions</small></h4>
						</a>
					</div>
					{%endif%}
					<!-- <div class="col-4 col">
						<a href="#" class="internal text-dark block">
							<div class="thumbnail-small-s left-f">
								<i class="fa fa-phone icon-l text-dark"></i>
							</div>
							<h5 class="list-s"><strong>Call requests</strong></h5>
							<h4 class="list-ss"><small>No new call request</small></h4>
						</a>
					</div> -->
					<div class="col-3 col">
						<a href="#" class="internal text-dark block">
							<div class="thumbnail-small-s left-f">
								<i class="fa fa-envelope-o icon-l text-dark"></i>
							</div>
							<h5 class="list-s"><strong>Inbox</strong></h5>
							<h4 class="list-ss"><small>{{user.messageCount}} messages</small></h4>
						</a>
					</div>

				</div>
			</div>

			<div class="questions page-content">
						
				<div class="wrapper">
					<div class="body">
						<div class="wrapper">
							<div class="left-content">
								<h4 class="heading_q">Recent Activity</h4>
								<div class="question-list">
									<!-- <article>
										<div class="images img-rounded thumbnail-small-s col-1">
											<img src="images/profile-img.jpg">
										</div>	
										<div class="icon-wrapper col-1">
											<i class="fa fa-heart"></i>
										</div>
										<div class="content col-8">
											<h5><a href="#" class="ques_a">Dave Chase - HealthTech Entrepreneur (Founder of healthtech startup (acquired by WebMD))</a></h5>
											<div class="meta">
												<h6>4 days ago</h6>
											</div>	
										</div>
									</article>
									<article>
										<div class="images img-rounded thumbnail-small-s col-1">
											<img src="images/profile-img.jpg">
										</div>	
										<div class="icon-wrapper col-1">
											<i class="fa fa-heart"></i>
										</div>
										<div class="content col-8">
											<h5><a href="#" class="ques_a">Dave Chase - HealthTech Entrepreneur (Founder of healthtech startup (acquired by WebMD))</a></h5>
											<div class="meta">
												<h6>1 answer, 4 days ago</h6>
											</div>	
											<a href="#" class="answer-wb">
												<div class="user_answer">
													<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
													<p>Never start work with a client before having a signed contract in hand.  The contract is the first step to making sure that both parties understand the expectations of the project such as payment expectations, the deliverable, the project schedule.  </p>
													<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
												</div>
												<div class="user_name">
													Eric Silverthorn
												</div>
											</a>
										</div>
									</article>
									<article>
										<div class="images img-rounded thumbnail-small-s col-1">
											<img src="images/profile-img.jpg">
										</div>	
										<div class="icon-wrapper col-1">
											<i class="fa fa-heart"></i>
										</div>
										<div class="content col-8">
											<h5><a href="#" class="ques_a">Dave Chase - HealthTech Entrepreneur (Founder of healthtech startup (acquired by WebMD))</a></h5>
											<div class="meta">
												<h6>4 days ago</h6>
											</div>	
										</div>
									</article>
									<article>
										<div class="images img-rounded thumbnail-small-s col-1">
											<img src="images/profile-img.jpg">
										</div>	
										<div class="icon-wrapper col-1">
											<i class="fa fa-heart"></i>
										</div>
										<div class="content col-8">
											<h5><a href="#" class="ques_a">Dave Chase - HealthTech Entrepreneur (Founder of healthtech startup (acquired by WebMD))</a></h5>
											<div class="meta">
												<h6>4 days ago</h6>
											</div>	
										</div>
									</article> -->
								</div>
								<div class="text-center">
									<div class="btn white small light btn-inline list-p">
										<a href="#">Load more</a>
									</div>
								</div>
							</div>
							<div class="sidebar-content">
							</div>
						</div>
					</div>		
				</div>		
			</div>	
		</div>
{%endblock%}

{%block customScript%}
<script type="text/javascript">
$.ajax({
  type: 'POST',
  url : "../dashboardData",
  contentType: "application/json; charset=utf-8",
  success: function(res) {
  		message = "";
  		// console.log(res);
	  // 	for(var i =0;i<res.upvotes.length;i++)
	  // 	{
	  // 		message = message +'<article>'+
			// 	'<div class="images img-rounded thumbnail-small-s col-1">'+
			// 		'<img src="images/profile/default.png">'+
			// 	'</div>	'+
			// 	'<div class="icon-wrapper col-1">'+
			// 		'<i class="fa fa-heart"></i>'+
			// 	'</div>'+
			// 	'<div class="content col-8">'+
			// 		'<h5><a href="#" class="ques_a">'+res.upvotes[i].answer.answer+'</a></h5>'+
			// 		'<div class="meta">'+
			// 			'<h6>You upvoted ,'+moment(res.upvotes[i].time,"MMMM Do YYYY, h:mm:ss a").fromNow()+'</h6>'+
			// 		'</div>	'+
			// 	'</div>'+
			// '</article>';
	  // 	}
	  	for(var i =0;i<res.answers.length;i++)
	  	{
	  		console.log(res.answers[i].question.answerCount,moment(res.answers[i].time,"MMMM Do YYYY, h:mm:ss a").fromNow());
	  		message = message + '<article>'+
					'<div class="images img-rounded thumbnail-small-s col-1">'+
						'<img src="images/profile/default.png">'+
					'</div>	'+
					'<div class="icon-wrapper col-1">'+
						'<i class="fa fa-reply"></i>'+
					'</div>'+
					'<div class="content col-8">'+
						'<h5><a href="/forum/question/'+res.answers[i].question._id.toString()+'" class="ques_a">'+res.answers[i].question.question+'</a></h5>'+
						'<div class="meta">'+
							'<h5>'+moment(res.answers[i].time,"MMMM Do YYYY, h:mm:ss a").fromNow()+'</h5>'+
						'</div>'+
							'<div class="user_answer"><p>'+
							res.answers[i].answer+
							'</p></div>'+
					'</div>'+
				'</article>';
	  	}
	  	$(".question-list").append(message);
	},
	error: function(err,error)
	{
		console.log(err,"error");
	}
});
</script>
{%endblock%}