{%extends 'index.html'%}

{%block title%}Educational Details {%endblock%}

{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="profile content">
			<div  class="educational-info">
				<header class="search-banner small">
					<div class="wrapper">
						<h4 class="left-align"><a href="/makers"><i class="fa fa-angle-left"></i>Back</a></h4>
					</div>
				</header>
				<main>
					<div class="wrapper">
						<header class="heading small">
							<h4><strong>Educational Information</strong></h4>
						</header>
					</div>
					<div class="body">

						<div class="wrapper">
                {% for education in user.education%}
  							<div class="education-post dark-top radius-small col-7">
  								<span class="year right-f list-s">{{education.start}} - {{education.end}}</span>
  								<h5 class="list-ss"><strong>{{education.school}}</strong></h5>
  								<h6>{{education.qualification}}</h6>
  								<p class="list-s">{{education.notes}}</p>
  							</div>
              {%endfor%}
						</div>


					</div>
				</main>
			</div>

		</div>
		<div class="btn educationNew orange btn-inline col-1 text-center">
			<a href="/education/new">New</a>
		</div>
		<br><br><br>
{%endblock%}
