{%extends 'index.html'%}

{%block title%}Education New{%endblock%}

{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="profile content">
			<div  class="basic-profile">
				<header class="search-banner small">
					<div class="wrapper">
						<h4 class="left-align"><a href="#"><i class="fa fa-angle-left"></i>Back</a></h4>
					</div>
				</header>
				<main>
					<div class="wrapper">
						<header class="heading small">
							<h4><strong>Education edit</strong></h4>
						</header>
						<div class="education-edit profile-edit">
							<div class="entry-content col-8">

								<form method="POST" action ="/users/education/new">
									<div class="input-field">
										<label for="school_name">School name</label>
										<input type="text" name="school" id="school_name">
									</div>
									<div class="input-field">
										<label for="qualification">Qualification(s)</label>
										<input type="text" name="qualification" id="qualification">
									</div>
									<div class="input-field col-5">
										<label for="start_date">Start date</label>
										<input type="text" name="start" class="datepicker">
									</div>
									<div class="input-field col-5">
										<label for="start_date">End date</label>
										<input type="text" name="end" class="datepicker">
									</div>
									<div class="input-field">
										<label for="notes">notes <small>(optional)</small></label>
										<textarea name="notes" rows="4"></textarea>
									</div>
									<!-- <div class="input-field">
										<label>resume file <small>(optional)</small></label>
										<div class="btn light btn-inline">
											<a href="#">choose file
												<input type="file">
											</a>
										</div>
										<h6>Optionally upload your resume for employers to view. Max. file size: 2 MB.</h6>
									</div>	 -->
									<div class="btn orange btn-inline">
										<button type="submit"><a>save</a></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
{%endblock%}
