{%extends 'index.html'%}
{% block title%} Events {%endblock%}

{% block cssBlock %}
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
{% endblock %}

{%block container%}
	<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="events event-banner page-content" style="  background-image: url('images/building.jpg');">
			<div class="container">
				<h1>EVENTS</h1>
				<p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</i></p>	
			</div>	
		</div>

		<div class="events page-content events-filter">
			<div class="wrapper">
				<span class="events-filter--title">Explore Events</span>
				<div class="events-filter__tabs">
					<ul>
						<li><a href="#" class="active">Upcoming</a></li>
						<li><a href="#">Completed</a></li>
					</ul>
				</div>
				<div class="search-bar events-filter__search">
					<form>
						<div class="input-field">
							<i class="fa fa-search"></i>
							<input type="search" placeholder="Search Skills...">
						</div>	
					</form>
				</div>
				<div class="events-filter__date">
				    <select name="speed" id="speed">
				    	<option selected="selected" disabled="">Select Month</option>
						<option val="1">January</option>
						<option>February</option>
						<option>March</option>
						<option>April</option>
						<option>May</option>
						<option>June</option>
						<option>July</option>
						<option>August</option>
						<option>September</option>
						<option>October</option>
						<option>November</option>
						<option>December</option>
				    </select>
				</div>
			</div>	
		</div>	

		<div class="events__body page-content events">
			<div class="container">
			{%for data in events%}
				<div class="events__item">
					<div class="events__item--date">
						<span>jun</span>
						<hr class="hr--small">
						<h2>23</h2>
					</div>
					<div class="events__item--image">
						<a target="_blank" href="{{data.link}}" target="_blank"><img src="uploads/{{data.file}}" alt="event title"></a>
					</div>
					<div class="events__item__desc">
						<div class="events__item__desc--title">
							<h3>{{data.name}}</h3>
						</div>
						<div class="events__item__desc--loc">
							<span>{{data.address}}</span>
							<br>
							<span>{{data.timings}}</span>
						</div>
						<div class="events__item__desc--desc">
							{{data.brief}}
						</div>
						<div class="events__item__desc--action">
							<a target="_blank" href="{{data.link}}">View Event Detail</a>
						</div>
					</div>
				</div>
			{%endfor%}
			</div>	
		</div>	
	</div>
{%endblock%}
{%block customScript%}
<script>
	$( function() {
	  $( "#speed" ).selectmenu();

	} );
</script>
{%endblock%}