{%extends 'index.html'%}

{%block title%}Password Recover{%endblock%}

{%block container%}

	<div class="login">
		<main>
			<div class="login-block">
				<h1>SkillMaker</h1>
				<h2>Request password reset</h2>
				<form>
					<div class="input-field">
						<i class="mdi mdi-email-outline"></i>
						<input type="text" name="email" placeholder="Email">
					</div>
					<div class="btn">
						<input type="submit" value="Request reset link">
					</div>
				</form>
				<br><br>
				<div class="login-links center">
					<a href="/users/login">Back To login</a>
				</div>
			</div>
		</main>	
	</div>	
{%endblock container%}