{%extends 'index-home.html' %}
{% block title %} Homepage {% endblock %}

{% block container %}

<div class="viewport">
	<div class="header-tablet">
		<div class="hamburger">
			<span class="nav-btn"></span>
		</div>
		<div class="logo text-center">
			<a href="#">
				<img src="images/logo.png" alt="SkillMaker">
			</a>
		</div>
	</div>
	<div class="home-banner banner">
		<div class="bg-overlay">
			<div class="container">
				<div class="banner-txt text-light">
					<h1>Learn a skill <br>Connect with Mentors <br>Become Makers</h1>
					<h4>Learn a New Skill Each Day</h4>
					<div class="btn orange btn-inline tt-u">
						<a href="#">Start learning now</a>
					</div>
					<div class="list-s">For free. For everyone. Forever.</h6></div>
				</div>
			</div>
		</div>
	</div>

	<div class="testimonial dark-full page-content">
		<div class="container">
			<div class="love-us col-6">
				<header class="heading f-light">
					<h2>Why You'll Love Us</h2>
				</header>
				<main>
					<div class="col-3 col">
						<h3 class="f-light">100+</h3>
						<div class="list-p"><b>CURATED SKILLS</b></div>
						<p>Find the best content for any skill. <br>Learn at your pace. </p>
					</div>
					<div class="col-4 col">
						<h3 class="f-light">65+</h3>
						<div class="list-p"><b>MENTORS</b></div>
						<p>Get answers from the world's<br> best professionals.</p>
					</div>
					<div class="col-3 col">
						<h3 class="f-light">15,000+</h3>
						<div class="list-p"><b>STUDENTS STRONG</b></div>
						<p>Learning and realizing their dreams.</p>
					</div>
				</main>
			</div>
			<div class="testi-side col-4">
				<div class="review text-center radius-small bg-light shadow">
					<p>Our Vision is to create a world of makers and creators. We believe that everyone is special and with right access to the education and information, we could create millions of makers and make our world better.</p>
					<div class="img-rounded">

					</div>
					<span class="f-medium">Ajay Pal Singh</span>
					<h6>Founder of SkillMaker</h6>
				</div>
			</div>
		</div>
	</div>

	<div class="how-it-work page-content text-center text-light">
		<div class="heading">
			<h4>How It Works</h4>
		</div>
		<div class="wrapper">
			<div class="col">
				<div class="icon"></div>
				<span>Get info about skill you want to learn.</span>
			</div>
			<div class="col">
				<div class="icon"></div>
				<span>Connect with Mentors and get help.</span>
			</div>
			<div class="col">
				<div class="icon"></div>
				<span>Become a maker and change the world.</span>
			</div>
		</div>
	</div>

	<div class="skills clear">
		<div class="container page-content">
			<header class="heading">
				<h2>Popular Skills</h2>
			</header>
			<main class="content">
				<div class="row">
					<div class="card">
						<a href="#">
							<div class="card-img thumbnail-classic">
								<img src="images/skill-2.jpg">
								<div class="fav wishlist">
									<div class="relative">
										<i class="fa fa-heart-o icon"></i>
										<small class="tool-tip">Add to faverite</small>
									</div>
								</div>
							</div>
							<h5 class="f-medium text-dark-d list-s">Lorem Ipsum is simply dummy text of the printing</h5>
							<small class="tt-u text-dark">photography</small>
						</a>
					</div>
					<div class="card">
						<a href="#" class="">
							<div class="card-img thumbnail-classic">
								<img src="images/skill-4.jpg">
								<div class="fav wishlist">
									<div class="relative">
										<i class="fa fa-heart icon"></i>
										<small class="tool-tip">Add to faverite</small>
									</div>
								</div>
							</div>
							<h5 class="f-medium text-dark-d list-s">Lorem Ipsum is simply dummy text of the printing</h5>
							<small class="tt-u text-dark">photography</small>
						</a>
					</div>
					<div class="card">
						<a href="#" class="">
							<div class="card-img thumbnail-classic">
								<img src="images/skill-3.jpg">
								<div class="fav wishlist">
									<div class="relative">
										<i class="fa fa-heart-o icon"></i>
										<small class="tool-tip">Add to faverite</small>
									</div>
								</div>
							</div>
							<h5 class="f-medium text-dark-d list-s">Lorem Ipsum is simply dummy text of the printing</h5>
							<small class="tt-u text-dark">photography</small>
						</a>
					</div>
					<div class="card">
						<a href="#" class="">
							<div class="card-img thumbnail-classic">
								<img src="images/skill-4.jpg">
								<div class="fav wishlist">
									<div class="relative">
										<i class="fa fa-heart icon"></i>
										<small class="tool-tip">Add to faverite</small>
									</div>
								</div>
							</div>
							<h5 class="f-medium text-dark-d list-s">Lorem Ipsum is simply dummy text of the printing</h5>
							<small class="tt-u text-dark">photography</small>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="card-img thumbnail-classic">
								<img src="images/skill-2.jpg">
								<div class="fav wishlist">
									<div class="relative">
										<i class="fa fa-heart-o icon"></i>
										<small class="tool-tip">Add to faverite</small>
									</div>
								</div>
							</div>
							<h5 class="f-medium text-dark-d list-s">Lorem Ipsum is simply dummy text of the printing</h5>
							<small class="tt-u text-dark">photography</small>
						</a>
					</div>
					<div class="card">
						<a href="#" class="">
							<div class="card-img thumbnail-classic">
								<img src="images/skill-1.jpg">
								<div class="fav wishlist">
									<div class="relative">
										<i class="fa fa-heart icon"></i>
										<small class="tool-tip">Add to faverite</small>
									</div>
								</div>
							</div>
							<h5 class="f-medium text-dark-d list-s">Lorem Ipsum is simply dummy text of the printing</h5>
							<small class="tt-u text-dark">photography</small>
						</a>
					</div>
				</div>

			</main>
			<div class="text-center">
				<div class="btn black tt-u btn-inline">
					<a href="#">see all skills</a>
				</div>
			</div>
		</div>
	</div>

	<div class="mentors">
		<div class="container">
			<header class="heading">
				<h2>Popular Mentors</h2>
			</header>
			<main>
				<div class="wrapper">
					<div class="content">
						<div class="contacts-list">
							<ul class="mentorList">
							{% for mentor in mentorData %}
								<hr>
								<li class="card radius-small">
									<div class="thumbnail-small radius-small col-3">
										<a href="/mentor/{{mentor._id.toString()}}"><img src="images/skill-1.jpg"></a>
									</div>
									<div class="content col-6">
										<a href="/mentor/{{mentor._id.toString()}}" class="name text-black">{{mentor.name}}</a>
										<div class="profile-text">
											<h6 class="text-dark list-ss"><span class="text-logo">{{mentor.mentor2.category}}</span>/<span class="text-logo">Other</span></h6>
											<p>{{mentor.mentor1.resume}}</p>
										</div>
									</div>
									<div class="request-side text-center">
										<h3><b>{{mentor.mentor1.rate}}</b></h3>
										<p><small>per minute</small></p>
										<div class="btn orange btn-inline small">
											<a href="#">Request a call</a>
										</div>
										<div class="stars list-ss">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span><!-- Putt a value here--></span>
										</div>
									</div>
								</li>
								{%endfor%}
							</ul>
						</div>
					</div>
				</div>
				<div class="text-center">
					<div class="btn black tt-u btn-inline">
						<a href="#">see all mentors</a>
					</div>
				</div>

			</main>
			<hr>
		</div>
	</div>

	<div class="article">
		<div class="container  b-bottom">
			<header class="heading">
				<h2>Latest Articles</h2>
			</header>
			<main class="clear content">
				<div class="card">
					<div class="img thumbnail-classic">
						<img src="images/article-2.jpg">
					</div>
					<div class="bg-overlay text-light f-light">
						<p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took y of a galletype</p>
						<small class="tt-u list-s block">By justin katz</small>
					</div>
				</div>
				<div class="card">
					<div class="img thumbnail-classic">
						<img src="images/article-3.jpg">
					</div>
					<div class="bg-overlay text-light f-light">
						<p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
						<small class="tt-u list-s block">By justin katz</small>
					</div>
				</div>
				<div class="card">
					<div class="img thumbnail-classic">
						<img src="images/article-4.jpg">
					</div>
					<div class="bg-overlay text-light f-light">
						<p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<small class="tt-u list-s block">By justin katz</small>
					</div>
				</div>
			</main>

			<div class="text-center list-p">
				<div class="btn black tt-u btn-inline">
					<a href="#">see all articles</a>
				</div>
			</div>
		</div>
	</div>

	<div class="questions questions_home">
		<div class="container">
			<header class="heading">
				<h2>Popular Questions</h2>
			</header>
			<main class="content clear">
				<article>
					<div class="topics">
						<h6>Payments: Legal Advice, Startups</h6>
					</div>
					<h2><a href="#" class="ques_a">We're a small startup studio & were commissioned to develop a creative video by a corporation. We completed the work but didn't receive full payment.</a></h2>
					<div class="meta">
						<h6>1 answer, 4 days ago</h6>
					</div>
					<a href="#" class="answer-wb">
						<div class="user_answer">
							<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
							<p>Never start work</p>
							<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
						</div>
						<div class="user_name">
							Eric Silverthorn
						</div>
					</a>
				</article>
				<article>
					<div class="topics">
						<h6>Payments: Legal Advice, Startups</h6>
					</div>
					<h2><a href="#" class="ques_a">We're a small startup studio & were commissioned to develop a creative video by a corporation. We completed the work but didn't receive full payment.</a></h2>
					<div class="meta">
						<h6>1 answer, 4 days ago</h6>
					</div>
					<a href="#" class="answer-wb">
						<div class="user_answer">
							<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
							<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
						</div>
						<div class="user_name">
							Eric Silverthorn
						</div>
					</a>
				</article>
				<article>
					<div class="topics">
						<h6>Payments: Legal Advice, Startups</h6>
					</div>
					<h2><a href="#" class="ques_a">We're a small startup studio & were commissioned to develop a creative video by a corporation. We completed the work but didn't receive full payment.</a></h2>
					<div class="meta">
						<h6>1 answer, 4 days ago</h6>
					</div>
					<a href="#" class="answer-wb">
						<div class="user_answer">
							<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
							<p>Never start work with a client before having a signed contract in hand.  The contract is the first step to making sure that both parties understand the expectations of the project such as payment expectations, the deliverable, the project schedule.  </p>
						</div>
						<div class="user_name">
							Eric Silverthorn
						</div>
					</a>
				</article>
			</main>
		</div>
	</div>

	<div class="take-skill text-light">
		<div class="bg-overlay page-content">
			<div class="container">
				<header class="heading text-center">
					<h2>Take Skills and Get Inspired</h2>
				</header>
				<main>
					<ul class="tt-u">
						<li class="btn white btn-inline col">
							<a href="#">Skill 1</a>
						</li>
						<li class="btn white btn-inline col">
							<a href="#">Skill 1</a>
						</li>
						<li class="btn white btn-inline col">
							<a href="#">Skill 1</a>
						</li>
						<li class="btn white btn-inline col">
							<a href="#">Skill 1</a>
						</li>
						<li class="btn white btn-inline col">
							<a href="#">Skill 1</a>
						</li>
					</ul>
				</main>
			</div>
		</div>
	</div>

{% endblock %}
