<!DOCTYPE html>
<html>
<head>
	<title>SkillMaker - {% block title%}{%endblock%}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/modernizr.js"></script>
	<script src="js/login.js"></script>
	<script src="js/main.js"></script>
	<script src="js/moment.js"></script>

	<script>
	$(document).ready(function($) {
			$('.login-link').click(function(event) {
				$('.login-popup').fadeIn();
			});

			$('.modal-close-login').click(function(event) {
				$('.login-popup').fadeOut();
			});
		});
	</script>
		<!--Google analytics start -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68960804-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<!--Google analytics end -->
		
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1644573569142503', {
		em: 'insert_email_variable,'
		});
		fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1644573569142503&ev=PageView&noscript=1"
		/></noscript>
		<!-- DO NOT MODIFY -->
		<!-- End Facebook Pixel Code -->
		
		
		
	{%block cssBlock%}
	{%endblock%}
</head>

<body>
{%block login%}

	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Sign in</a></li>
				<li><a href="#0">New account</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form" action="/userslogin" method="POST">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" required id="signin-email" name="username" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" name="password" id="signin-password" type="password" required  placeholder="Password">
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>

					<p class="fieldset">
						<input class="full-width" type="submit" value="Login">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form" action="/userSignup" method="POST">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" name="name" id="signup-username" type="text" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" name="email" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" name ="password" id="signup-password" type="password"  placeholder="Password">
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
{% endblock%}

{% block header%}
<header class="navigation">
		<div class="burger-menu home">

			<div class="container">
				<a href="/" class="logo">
					<img src="images/logo2.png" alt="SkillMaker">
				</a>
				<nav>
					<ul>
						<!-- <li id="sub-nav"><a href="#">Skills<i class="fa fa-angle-down"></i></a>
							<ul id="menu" class="sub-nav shadow">
								<li class="ui-state-active"><a href="#">Business<i class="fa fa-angle-right"></i></a>
							  		<ul style="display: block !important;">
							  			<li><a href="#">Career Advice</a></li>
							  			<li><a href="#">Branding</a></li>
							  			<li><a href="#">Customer Engagement</a></li>
							  			<li><a href="#">Getting Started</a></li>
							  			<li><a href="#">Human Resources</a></li>
							  		</ul>
								</li>
								<li><a href="#">Technology<i class="fa fa-angle-right"></i></a>
							  		<ul>
							  			<h5><b>Technology</b></h5>
							  			<li><a href="#">Social Media Marketing</a></li>
							  			<li><a href="#">Branding</a></li>
							  			<li><a href="#">Email Marketing</a></li>
							  			<li><a href="#">Copywriting</a></li>
							  			<li><a href="#">Advertising</a></li>
							  		</ul>
								</li>
								<li><a href="#">Skills & Management<i class="fa fa-angle-right"></i></a>
							  		<ul>
							  			<h5><b>Skills & Management</b></h5>
							  			<li><a href="#">Social Media Marketing</a></li>
							  			<li><a href="#">Branding</a></li>
							  			<li><a href="#">Email Marketing</a></li>
							  			<li><a href="#">Copywriting</a></li>
							  			<li><a href="#">Advertising</a></li>
							  		</ul>
								</li>
								<li><a href="#">Industries<i class="fa fa-angle-right"></i></a>
							  		<ul>
							  			<h5><b>Industries</b></h5>
							  			<li><a href="#">Career Advice</a></li>
							  			<li><a href="#">Branding</a></li>
							  			<li><a href="#">Customer Engagement</a></li>
							  			<li><a href="#">Getting Started</a></li>
							  			<li><a href="#">Human Resources</a></li>
							  		</ul>
								</li>
								<li><a href="#">Other</a></li>
								<li><a href="#">Other</a></li>
							</ul>
						</li> -->
						<li><a href="/events">Events</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="/forum">questions</a></li>
					</ul>
					<div class="right-nav">
						<div class="search-bar">
							<a class="on-mobile">Search</a>
							<form action="/search" method="post">
								<div class="input-field">
									<i class="fa fa-search"></i>
									<input type="search" name="search" placeholder="Search Skills...">
								</div>
							</form>
						</div>
						{% if !user %}
						<div class="main-nav top-login">
							<a class="cd-signin" href="#0">Log In / Sign Up</a>
						</div>
						{%else%}
						<li id="sub-nav"><a href="#">{{user.name}}<i class="fa fa-angle-down"></i></a>
                            <ul id="menu" class="sub-nav shadow">
                                <li><a href="/makers">Your Profile</a></li>
                                <li><a href="/logout">Signout</a></li>
                            </ul>
                        </li>
						{%endif%}
					</div>
				</nav>
			</div

		</div>
	</header>
{% endblock%}
{%block container%}

{%endblock%}
{%block footer%}
		<footer>
			{% if user._isApplied %}
				{% if !user._isMentor%}
					<div class="mentor-footer text-dark-d">
						<div class="wrapper flex-center b-bottom">
							<h4 class="col-3 r-u-m">Applied for Mentor</h4>
							<p class="col-4">You have applied for being a mentor.Your form is in process.You will receive a mail on confirmation.</p>
							<div class="col-3">
								<div class="btn orange btn-inline">
									<a class="radius-small" href="#">Applied</a>
								</div>
							</div>
						</div>
					</div>
				{%endif%}
			{% elseif !user._isMentor%}
			<div class="mentor-footer text-dark-d">
				<div class="wrapper flex-center b-bottom">
					<h4 class="col-3 r-u-m">Are You A Mentor?</h4>
					<p class="col-4">Join a community of passionate experts and mentors to help and guide the future generation to achieve their dreams.</p>
					<div class="col-3">
						<div class="btn orange btn-inline">
							<a class="radius-small" href="/apply">BECOME A MENTOR</a>
						</div>
					</div>
				</div>
			</div>
			{%endif%}

			<div class="footer-main page-content clear">
				<div class="container">
					<div class="col-3 col info">
						<a href="" class="footer-logo"><img src="images/logo2.png" alt="SkillMaker"></a>
						<p class="list-s"></p>
						<p class="copyright"><b><i class="fa fa-copyright"></i> 2016 SkillMaker Inc. All rights reserved.</b></p>
						<div class="footer-social">
							<ul class="social">
								<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-2 col">
						<header>
							<h4>Quick links</h4>
						</header>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Skills</a></li>
							<li><a href="/mentors">Mentors</a></li>
							<li><a href="/forum">Questions</a></li>
							<li><a href="#">Chapters</a></li>
							<li><a href="#">Events</a></li>
						</ul>
					</div>
					<div class="col-2 col">
						<header>
							<h4>More</h4>
						</header>
						<ul>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>

					</div>
					<div class="col-3 col newsletter">
						<header>
							<h4>Stay in Touch</h4>
						</header>
						<div class="">
							<small>Subcribe to our Newsletter</small>
							<div class="inpur-field">
								<input type="text" placeholder="Enter your Email">
								<div class="btn black tt-u list-p">
									<input type="submit" value="Subscribe">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
{%endblock%}
</body>
{%block customScript %}

{%endblock%}
</html>
