{%extends 'index.html'%}

{%block title%}{{data.name}}{%endblock%}

{%block cssBlock%}
<script>
		jQuery(document).ready(function($) {
			$('.tab').each(function(index) {

			    $(this).click(function(event) {
			        $('.tab-body').hide();
			        $('.tab > a').removeClass('active');
			        $(this).find('a').first().addClass('active');
			        $('.tab-body').eq(index).show();
			        return false;
			    });
			    
			});

            $( ".edu-drop" )
                .selectmenu()
                .selectmenu( "menuWidget" )
                .addClass( "overflow" );

            $( ".datepicker" ).datepicker({
                  changeMonth: true,
                  changeYear: true
                });

            $('.add-new-btn').click(function(event) {
              $('.popup-main').addClass('active');
            });
            $('.close-btn').click(function(event) {
              $('.popup-main').removeClass('active');
            });
		});
function function1(link){
    var r = confirm("Are you sure you want to delete this ?");
    if (r == true) {
        $.ajax({
          type: 'GET',
          url : "../"+link,
          success: function(res) {
            location.reload();
            },
            error: function(err,error)
            {
                console.log(err,"error");
            }
        });
    } else {
        txt = "You pressed Cancel!";
    }
}
</script>
{%endblock%}	
{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="maker-profile">
			<div class="wrapper">
				<div class="maker-profile__info">
					<header class="heading text-center">
						<h4><b>Welcome back!</b> </h4>
						<!-- Complete your profile. It's at 63% -->
					</header>
					<div class="info">
						<div class="profile-img thumbnail-image">
							<img src="uploads/{{data.file}}" class="thumbnail-small img-rounded">
                                <div class="btn light btn-small btn-inline change-img">
                                    <a href="#">Choose file</a>
                                    <form onchange="submit()" action="/uploads" method ="POST" enctype="multipart/form-data">
                                        <input type="file" name="attach" id="attach">
                                    </form>
                                </div>
						</div>
						<div class="profile-name">
							<h4>{{data.name}}</h4>
							<p><i class="fa fa-map-marker"></i>{{data.address}}</p>
							<p><i class="fa fa-mobile"></i>+91-{{data.phone.mobile}}</p>
							<p><i class="fa fa-envelope"></i>{{data.email}}</p>
						</div>	
					</div>
				</div>
			</div>
				<div class="maker-profile__tabs">
						
			        <ul class="tabs-head">
			            <div class="container">
			            	<li class="tab"><a href="#" class="active"><i class="fa fa-user"></i>General info</a></li>
                            <li class="tab"><a href="#"><i class="fa fa-graduation-cap"></i>Education Detail</a></li>
                            <li class="tab"><a href="#"><i class="fa fa-trophy"></i>Awards</a></li>
                            <li class="tab"><a href="#"><i class="fa fa-file-text-o"></i>Skills</a></li>
                            <li class="tab"><a href="#"><i class="fa fa-user-secret"></i>Professional Experience</a></li>
			            </div>
			        </ul>

					<div class="tab-part">
				        <div class="container">
				        	<div class="tab-body" style="display: block;">
				        	    <article>
        	    	        	    <header>
        	    	        	    	<h4>Other Information</h4>
        	    	        	    	<p></p>
        	    	        	    </header>
	    	        	    	<form action="/user/addInfo" method="POST">
        	    	        	    <main class="page-content">
        	    	        	    	<div class="panel">
        	    	        	    		<table>
        	    	        	    			<thead>
        	    	        	    				<tr class="table_heading">
        	    	        	    					<th width="70%">About Me</th>
        	    	        	    					<th width="30%">Linked account</th>
        	    	        	    				</tr>

        	    	        	    			</thead>
        	    	        	    			<tbody>
        	    	        	    				<tr class="user_details">
        	    		        	    				<td>{%if !data.about%}Your have not written anything about yourself.Please take time to write about yourself. People would like to know more about you.{%endif%}{{data.about}}</td>
        	    		        	    				<td>
        	    		        	    					<a target="_blank" href="{{data.facebook}}">Facebook</a>
        	    		        	    					<a target="_blank" href="{{data.twitter}}">Twitter</a>
        	    		        	    					<a target="_blank" href="{{data.linkedin}}">Linkedin</a>
        	    		        	    					<a target="_blank" href="{{data.github}}">Github</a>
        	    		        	    				</td>
        	    		        	    			</tr>
        	    	        	    			</tbody>
        	    	        	    		</table>
        	    	        	    		<div class="panel-footer text-center">
        	    	        	    			<div class="btn btn-inline orange small">
        	    	        	    				<a href="#" class="add-new-btn">Edit Info</a>
        	    	        	    			</div>
        	    	        	    		</div>
        	    	        	    	</div>
        	    	        	    </main>
        	    	        	  </form>
				        	    </article>
				        	    <div class="maker-form popup-main">
                                    <span class="close-btn">+</span>
                                    <div class="form__inner-form">
                                        <span class="close-btn">+</span>
                                        <form action="/users/editinfo" method="POST">
                                            <table class="table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="6">
                                                            <label>About YourSelf</label>
                                 	                       <div class="input-field">
                                                            	<textarea name="about" value="{{data.about}}" placeholder="About Yourself"></textarea>
                                                        	</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>Facebook</label>
                                                            <div class="input-field">
                                                                <input type="text" name="facebook" value="{{data.facebook}}" placeholder="http://facebook.com/username">
                                                            </div>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>Twitter</label>
                                                            <div class="input-field">
                                                                <input type="text" name="twitter" value="{{data.twitter}}" placeholder="https://twitter.com/username">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>Linkendin</label>
                                                            <div class="input-field">
                                                                <input type="text" name="linkedin" value="{{data.linkedin}}" placeholder="https://in.linked.in/@username">
                                                            </div>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>Github</label>
                                                            <div class="input-field">
                                                                <input type="text" name="github" value="{{data.github}}" placeholder="https://github.com/username">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>Mobile</label>
                                                            <div class="input-field">
                                                                <input type="text" name="mobile" value="{{data.phone.mobile}}" placeholder="Your 10 digit Mobile number">
                                                            </div>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>Address</label>
                                                            <div class="input-field">
                                                                <textarea type="text" name="address" value="{{data.address}}" placeholder="Address"></textarea>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="btn btn-inline orange right-f">
                                                <input type="submit" value="Save">
                                            </div>
                                        </form>
                                    </div>
                                </div>
				        	</div>

				        	<div class="tab-body">
				        	    <article>
        	    	        	    <header>
        	    	        	    	<h4>Graduation Information *</h4>
        	    	        	    	<p>Make your profile more appealing to universities by adding your graduation information.</p>
        	    	        	    </header>
        	    	        	    <main class="page-content">
        	    	        	    	<div class="panel">
        	    	        	    		<table>
        	    	        	    			<thead>
        	    	        	    				<tr class="table_heading">
        	    	        	    					<th width="15.1%">Level</th>
        	    	        	    					<th width="">Degree</th>
        	    	        	    					<th width="17%">University</th>
        	    	        	    					<th width="17%">major</th>
        	    	        	    					<th width="">from</th>
        	    	        	    					<th width="">to</th>
        	    	        	    					<th width="">gpa/Percentage</th>
        	    	        	    					<th width="8%">Actions</th>
        	    	        	    				</tr>
        	    	        	    				{%for collg in data.education %}
        	    	        	    				<tr class="edu_details">
        	    		        	    				<td>{{collg.level}}</td>
        	    		        	    				<td>{{collg.degree}}</td>
        	    		        	    				<td>{{collg.university}}</td>
        	    		        	    				<td>{{collg.major}}</td>
        	    		        	    				<td>{{collg.from}}</td>
        	    		        	    				<td>{{collg.to}}</td>
        	    		        	    				<td> {{collg.percent}}</td>
        	    		        	    				<td>
        	    		        	    					<i onclick="function1('delete/educations/{{collg._id.toString()}}')" class="fa fa-trash-o"></i>
        	    		        	    					<!-- <a href="#"><i class="fa fa-pencil"></i></a> -->
        	    		        	    				</td>
        	    		        	    			</tr>
        	    		        	    			{%endfor%}
        	    	        	    			</thead>
        	    	        	    		</table>
        	    	        	    		<div class="panel-footer text-center">
        	    	        	    			<div class="btn btn-inline orange small">
        	    	        	    				<a href="#" class="add-new-btn">Add new Degree</a>
        	    	        	    			</div>
        	    	        	    		</div>
        	    	        	    	</div>
        	    	        	    </main>
				        	    </article>

                                <div class="maker-form popup-main">
                                    
                                    <div class="form__inner-form">
                                        <span class="close-btn">+</span>
                                        <form action="/users/addEducation" method="POST">
                                            <table class="table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                            <label>Education Level</label>
                                                            <select name="level" class="edu-drop">
                                                                <option>1</option>
                                                                <option selected="selected">2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                                <option>12</option>
                                                                <option>18</option>
                                                                <option>19</option>
                                                            </select>
                                                        </td>
                                                        <td colspan="2">
                                                            <label>Degree</label>
                                                            <select name="degree" class="edu-drop">
                                                                <option>1</option>
                                                                <option selected="selected">2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                                <option>12</option>
                                                                <option>18</option>
                                                                <option>19</option>
                                                            </select>
                                                        </td>
                                                        <td colspan="2">
                                                            <label>Major</label>
                                                            <select name="major" class="edu-drop">
                                                                <option>1</option>
                                                                <option selected="selected">2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                                <option>12</option>
                                                                <option>18</option>
                                                                <option>19</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>UNIVERSITY:</label>
                                                            <select name="university" class="edu-drop">
                                                                <option>1</option>
                                                                <option selected="selected">2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                                <option>12</option>
                                                                <option>18</option>
                                                                <option>19</option>
                                                            </select>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>COLLEGE:</label>
                                                            <div class="input-field">
                                                                <input type="text" required="" name="college" placeholder="e.g. SRMT College of Engineering">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="16.5%">
                                                          <label>from</label>
                                                          <div class="input-field">
                                                            <i class="fa fa-calendar"></i>
                                                            <input type="text" id="from" required="" name="from" placeholder="mm/yyyy" class="form-control datepicker">
                                                          </div>
                                                        </td>
                                                        <td width="16.5%">
                                                          <label>to</label>
                                                          <div class="input-field">
                                                            <i class="fa fa-calendar"></i>
                                                            <input type="text" id="to" name="to" required="" placeholder="mm/yyyy" class="form-control datepicker">
                                                          </div>
                                                        </td>
                                                        <td width="16.5%" id="backlogs_div">
                                                          <label>number of backlogs</label>
                                                          <div class="input-field">
                                                              <input type="text" name="backlogs" required="" placeholder="e.q. 06" id="backlogs" class="form-control">
                                                          </div>
                                                        </td>
                                                        <td width="18.5%">
                                                          <label>percentage of marks/grade</label>
                                                          <div class="input-field">
                                                              <input type="text" required="" name="percent" id="marks_percent" placeholder="e.q. 73" class="form-control">
                                                          </div>
                                                        </td>
                                                        <td width="21%" class="text-center">
                                                          <label>&nbsp;</label><span class="input-field">out of 10 or 100
                                                          </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="btn btn-inline orange right-f">
                                                <input type="submit" value="Add">
                                            </div>
                                        </form>
                                    </div>
                                </div>

				        	    <!-- <article>
        	    	        	    <header>
        	    	        	    	<h4>Schooling Information *</h4>
        	    	        	    	<p>Make your profile more appealing to universities by adding your schooling information.</p>
        	    	        	    </header>
        	    	        	    <main class="page-content">
        	    	        	    	<div class="panel">
        	    	        	    		<table>
        	    	        	    			<thead>
        	    	        	    				<tr class="table_heading">
        	    	        	    					<th width="15.1%">Level</th>
        	    	        	    					<th width="">SCHOOL NAME</th>
        	    	        	    					<th width="17%">BOARD NAME</th>
        	    	        	    					<th width="17%">major</th>
        	    	        	    					<th width="">from</th>
        	    	        	    					<th width="">to</th>
        	    	        	    					<th width="">gpa/cgpa</th>
        	    	        	    					<th width="8%">Actions</th>
        	    	        	    				</tr>

        	    	        	    				<tr class="edu_details">
        	    		        	    				<td>Bachelors</td>
        	    		        	    				<td>Bachelor of Computer Applications (B.C.A.)</td>
        	    		        	    				<td>Punjabi University - Patiala</td>
        	    		        	    				<td>Information Technology</td>
        	    		        	    				<td> Apr 2012</td>
        	    		        	    				<td> Mar 2015</td>
        	    		        	    				<td class="text-center">62</td>
        	    		        	    				<td>
        	    		        	    					<a href="#"><i class="fa fa-trash-o"></i></a>
        	    		        	    					<a href="#"><i class="fa fa-pencil"></i></a>
        	    		        	    				</td>
        	    		        	    			</tr>

        	    	        	    				<tr class="edu_details">
        	    		        	    				<td>Bachelors</td>
        	    		        	    				<td>Bachelor of Computer Applications (B.C.A.)</td>
        	    		        	    				<td>Punjabi University - Patiala</td>
        	    		        	    				<td>Information Technology</td>
        	    		        	    				<td> Apr 2012</td>
        	    		        	    				<td> Mar 2015</td>
        	    		        	    				<td class="text-center">62</td>
        	    		        	    				<td>
        	    		        	    					<a href="#"><i class="fa fa-trash-o"></i></a>
        	    		        	    					<a href="#"><i class="fa fa-pencil"></i></a>
        	    		        	    				</td>
        	    		        	    			</tr>

        	    	        	    			</thead>
        	    	        	    		</table>
        	    	        	    		<div class="panel-footer text-center">
        	    	        	    			<div class="btn btn-inline orange small">
        	    	        	    				<a href="#">Add new School</a>
        	    	        	    			</div>
        	    	        	    		</div>
        	    	        	    	</div>
        	    	        	    </main>
				        	    </article> -->
				        	</div>

				        	<div class="tab-body">
				        	    <article>
        	    	        	    <header>
        	    	        	    	<h4>Work Experience</h4>
        	    	        	    	<p>Having relevant work experience makes you a stronger candidate for Universities. It will also increase the accuracy of recommendations from Ubergrad counsellors.</p>
        	    	        	    </header>
        	    	        	    <main class="page-content">
        	    	        	    	<div class="panel">
        	    	        	    		<table>
        	    	        	    			<thead>
        	    	        	    				<tr class="table_heading">
        	    	        	    					<th width="17.6%">COMPANY NAME</th>
        	    	        	    					<th width="17.6%">DURATION</th>
        	    	        	    					<th width="17%">ROLE/POSITION</th>
        	    	        	    					<th width="42%">ROLE DESCRIPTION</th>
        	    	        	    					<th width="9.3%">ACTIONS</th>
        	    	        	    				</tr>
        	    	        	    				{% for exp in data.workExperience%}
        	    	        	    				<tr class="edu_details">
        	    		        	    				<td>{{exp.name}}</td>
        	    		        	    				<td>{{exp.duration}}</td>
        	    		        	    				<td>{{exp.role}}</td>
        	    		        	    				<td>{{exp.roleDescription}}</td>
        	    		        	    				<td>
                                                            <i onclick="function1('delete/workexps/{{exp._id.toString()}}')" class="fa fa-trash-o"></i>
        	    		        	    					<!-- <a href="#"><i class="fa fa-pencil"></i></a> -->
        	    		        	    				</td>
        	    		        	    			</tr>
        	    		        	    			{%endfor%}
        	    	        	    			</thead>
        	    	        	    		</table>
        	    	        	    		<div class="panel-footer text-center">
        	    	        	    			<div class="btn btn-inline orange small">
        	    	        	    				<a href="#" class="add-new-btn">Add new Experience</a>
        	    	        	    			</div>
        	    	        	    		</div>
        	    	        	    	</div>
        	    	        	    </main>
				        	    </article>
				        	    <div class="maker-form popup-main">
                                    <span class="close-btn">+</span>
                                    <div class="form__inner-form">
                                        <form action="/users/addExperience" method="POST">
                                            <table class="table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>Company Name</label>
                                 	                       <div class="input-field">
                                                            	<input name="name" required="" placeholder="Company Name"></input>
                                                        	</div>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>Duration</label>
                                                            <div class="input-field">
                                                                <input type="text" required="" name="duration" placeholder="For ex. Jan 2015 - Feb 2016">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>Role Position</label>
                                                            <div class="input-field">
                                                                <input type="text" name="role" required="" placeholder="Role Position">
                                                            </div>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>Others</label>
                                                            <div class="input-field">
                                                                <input type="text" name="others" required="" placeholder="Any other related information">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6">
                                                            <label>Role Description</label>
                                                            <div class="input-field">
                                                                <textarea type="text" name="roleDescription" required="" placeholder="Role Description"></textarea>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="btn btn-inline orange right-f">
                                                <input type="submit" value="Save">
                                            </div>
                                        </form>
                                    </div>
                                </div>
   				        	   <!--  <article>
           	    	        	    <header>
           	    	        	    	<h4>Acheivements (Academic and Extra Curicular Achievements)</h4>
           	    	        	    	<p>Including achievements makes you a stronger candidate for Universities. It will also increase the accuracy of recommendations from Ubergrad counsellors.</p>
           	    	        	    </header>
           	    	        	    <main class="page-content">
           	    	        	    	<div class="panel">
           	    	        	    		<table>
           	    	        	    			<thead>
           	    	        	    				<tr class="table_heading">
           	    	        	    					<th width="42.6%">DESCRIPTION</th>
           	    	        	    					<th width="17.6%">YEAR</th>
           	    	        	    					<th width="33.3%">POSITION</th>
           	    	        	    					<th width="9.3%">ACTIONS</th>
           	    	        	    				</tr>

           	    	        	    				<tr class="edu_details">
           	    		        	    				<td>Universal soccer team</td>
           	    		        	    				<td>2015 to 2016</td>
           	    		        	    				<td>captain of the college team</td>
           	    		        	    				<td>
           	    		        	    					<a href="#"><i class="fa fa-trash-o"></i></a>
           	    		        	    					<a href="#"><i class="fa fa-pencil"></i></a>
           	    		        	    				</td>
           	    		        	    			</tr>

           	    	        	    			</thead>
           	    	        	    		</table>
           	    	        	    		<div class="panel-footer text-center">
           	    	        	    			<div class="btn btn-inline orange small">
           	    	        	    				<a href="#">Add new Acheivement</a>
           	    	        	    			</div>
           	    	        	    		</div>
           	    	        	    	</div>
           	    	        	    </main>
   				        	    </article> -->
				        	</div>

				        	<div class="tab-body">
				        	    <article>
        	    	        	    <header>
        	    	        	    	<h4>Skills</h4>
        	    	        	    	<p>Including achievements makes you a stronger candidate for Universities. It will also increase the accuracy of recommendations from Ubergrad counsellors.</p>
        	    	        	    </header>
        	    	        	    <main class="page-content">
        	    	        	    	<div class="panel">
        	    	        	    		<table>
        	    	        	    			<thead>
        	    	        	    				<tr class="table_heading">
        	    	        	    					<th width="17%">name</th>
        	    	        	    					<th width="20%">Level</th>
        	    	        	    					<th width="16%">Complete project with this skill</th>
        	    	        	    					<th width="47%">Description </th>
        	    	        	    					<th width="10%">ACTIONS</th>
        	    	        	    				</tr>
        	    	        	    				{% for skill in data.userSkills%}
        	    	        	    				<tr class="edu_details">
        	    		        	    				<td>{{skill.name}}</td>
        	    		        	    				<td>
        	    		        	    					<div class="table-label">
    	    		        	    							{{skill.level}}
        	    		        	    						<!-- <div class="percentage">
        	    		        	    						</div> -->
        	    		        	    						<!-- <div class="uncomplete">
        	    		        	    							
        	    		        	    						</div>
        	    		        	    						<div class="completed">
        	    		        	    							
        	    		        	    						</div> -->
        	    		        	    					</div>
        	    		        	    				</td>
        	    		        	    				<td> <a href ="{{skill.projectUrl}}" class="link" target="_blank"><a href="#" class="link">{{skill.projectUrl}} <i class="fa fa-external-link"></i></a></a>
        	    		        	    				</td>
        	    		        	    				<td>{{skill.projectDescription}}</td>
        	    		        	    				<td>
                                                            <i onclick="function1('delete/userskills/{{skill._id.toString()}')" class="fa fa-trash-o"></i>
        	    		        	    					<!-- <a href="#"><i class="fa fa-pencil"></i></a> -->
        	    		        	    				</td>
        	    		        	    			</tr>
        	    		        	    			{%endfor%}
        	    	        	    			</thead>
        	    	        	    		</table>
        	    	        	    		<div class="panel-footer text-center">
        	    	        	    			<div class="btn btn-inline orange small">
        	    	        	    				<a href="#" class="add-new-btn">Add new Skills</a>
        	    	        	    			</div>
        	    	        	    		</div>
        	    	        	    	</div>
        	    	        	    </main>
				        	    </article>
				        	    <div class="maker-form popup-main">
                                    <span class="close-btn">+</span>
                                    <div class="form__inner-form">
                                        <form action="/users/addSkills" method="POST">
                                            <table class="table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>Skill Name</label>
                                 	                       <div class="input-field">
                                                            	<input name="name" required="" placeholder="Skill Name"></input>
                                                        	</div>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>Level</label>
                                                            <div class="input-field">
                                                                <input type="Number" required="" min="0" max="10" name="level" placeholder="Expertise level out of 10">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label>Completed Project with this Skill</label>
                                                            <div class="input-field">
                                                                <input type="text" name="projectUrl"  placeholder="Paste the url of project here">
                                                            </div>
                                                        </td>
                                                        <td colspan="3">
                                                            <label>Team Mates if Any</label>
                                                            <div class="input-field">
                                                                <input type="text"  name="team" placeholder="Name your team mates of project mentioned">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6">
                                                            <label>Project Description</label>
                                                            <div class="input-field">
                                                                <textarea type="text" required="" name="projectDescription"  placeholder="Project Description"></textarea>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="btn btn-inline orange right-f">
                                                <input type="submit" value="Save">
                                            </div>
                                        </form>
                                    </div>
                                </div>
				        	</div>
				        </div>
					</div>

				</div>
		</div>
	</div>

{%endblock%}