{% extends 'index.html' %}

{%block title%}Mentor -{{data.name}} {%endblock%}

{%block cssBlock%}
<script>
$(document).ready(function($) {
	$( "#tabs" ).tabs();

	$(".show-on-mobile .fa-arrow-up").click(function(event) {
		$('.btns').slideToggle(300);
	});
});
</script>
{%endblock%}
{%block container%}
<div class="viewport">
	<div class="header-tablet">
		<div class="hamburger">
			<span class="nav-btn"></span>
		</div>
		<div class="logo text-center">
			<a href="#">
				<img src="images/logo.png" alt="SkillMaker">
			</a>
		</div>
	</div>

	<div class="mentors">
		<div class="profile">
			<div class="wrapper">
				<div class="m-p-inf my-profile col-7">
					<div class="p-pic user-img img-rounded thumbnail-small left-f">
						<img src="uploads/{{data.file}}">
					</div>
					<div class="p-inf">
						<h4>{{data.name}}</h4>
						<h5 class="list-s">{{data.mentor1.shortBio}}</h5>
						<span class="location block text-dark list-s"><h6>{{data.mentor2.topics}}</h6></span>
						<p><small>{{data.mentor2.description}}</small></p>		
					</div>
				</div>
				<div class="pro-side col-3">
					<div class="show-on-mobile">
						<div class="btn orange small">
							<a style="cursor: pointer;">Request a call<i class="fa fa-arrow-up"></i></a>
						</div>
					</div>	
					<div class="btns">
						<div class="btn white small light">
							<a href="#">Send a message</a>
						</div>	
						<div class="btn white small light">
							<a href="#">Add to favorite</a>
						</div>	
						<div class="btn white small light">
							<a href="#"><i class="fa fa-heart"></i>Remove from favorite</a>
						</div>
						<h6 class="text-center text-dark list-s">saved 34 times</h6>		
					</div>		
				</div>	
			</div>
		</div>

		<div class="areas-of-expertise">
			<div class="wrapper">
				<header class="heading">
					<h3>Areas of Expertise</h3>
				</header>
				<div class="contacts-list">
					<ul>
						<li>
							<a href="#" class="card radius-small">
								<div class="thumbnail-small radius-small col-3">
									<img src="images/skill-1.jpg">
								</div>	
								<div class="content col-7">
									<h4 class="name text-black">Clinical Studies and FDA Approval</h4>
									<div class="profile-text">
										<h6 class="text-dark list-ss">Created 10 months ago <span class="text-logo">Product & Design</span>/<span class="text-logo">Other</span></h6>
										<p>Went through FDA processes with Audicus Inc. Have a PhD in neuroscience and an engineering background.</p>
									</div>
								</div>	
							</a>
						</li>
						<li>
							<a href="#" class="card radius-small">
								<div class="thumbnail-small radius-small col-3">
									<img src="images/skill-1.jpg">
								</div>	
								<div class="content col-7">
									<h4 class="name text-black">Clinical Studies and FDA Approval</h4>
									<div class="profile-text">
										<h6 class="text-dark list-ss">Created 10 months ago <span class="text-logo">Product & Design</span>/<span class="text-logo">Other</span></h6>
										<p>Went through FDA processes with Audicus Inc. Have a PhD in neuroscience and an engineering background.</p>
									</div>
								</div>	
							</a>
						</li>
						<li>
							<a href="#" class="card radius-small">
								<div class="thumbnail-small radius-small col-3">
									<img src="images/skill-1.jpg">
								</div>	
								<div class="content col-7">
									<h4 class="name text-black">Clinical Studies and FDA Approval</h4>
									<div class="profile-text">
										<h6 class="text-dark list-ss">Created 10 months ago <span class="text-logo">Product & Design</span>/<span class="text-logo">Other</span></h6>
										<p>Went through FDA processes with Audicus Inc. Have a PhD in neuroscience and an engineering background.</p>
									</div>
								</div>	
							</a>
						</li>
					</ul>
				</div>
			</div>		
		</div>	

		<div class="mentors-reviews-answers">
			<div id="tabs">
			  <div class="tabs">
			  	<div class="wrapper">
			  		<ul>
			  		  <li><a href="#tabs-1">Reviews<span class="badge">31</span></a></li>
			  		  <li><a href="#tabs-2">Answers<span class="badge">100</span></a></li>
			  		</ul>
			  	</div>
			  </div>		
			  <div class="content">
			  	<div class="wrapper">
			  		<div id="tabs-1" class="reviews-section">
			  		  <ul>
			  		  	<li class="list">
			  		  		<span class="avatar">
			  		  			<div class="img-rounded thumbnail-small-s text-center">
			  		  				LJ
			  		  			</div>
			  		  		</span>
			  		  		<div class="answer-wb">
			  		  			<p>On time and knowledgeable.  Will be using again for help.</p>
			  		  			<span class="name text-dark">Landon Jones</span>
			  		  			<span class="time pull-right">Jul 15, 2016</span>
			  		  		</div>
			  		  	</li>
			  		  	<li class="list">
			  		  		<span class="avatar">
			  		  			<div class="img-rounded thumbnail-small-s text-center">
			  		  				<img src="images/bg_register_now.jpg">
			  		  			</div>
			  		  		</span>
			  		  		<div class="answer-wb">
			  		  			<p>On time and knowledgeable.  Will be using again for help.</p>
			  		  			<span class="name text-dark">Landon Jones</span>
			  		  			<span class="time pull-right">Jul 15, 2016</span>
			  		  		</div>
			  		  	</li>
			  		  	<li class="list">
			  		  		<span class="avatar">
			  		  			<div class="img-rounded thumbnail-small-s text-center">
			  		  				LJ
			  		  			</div>
			  		  		</span>
			  		  		<div class="answer-wb">
			  		  			<p>On time and knowledgeable.  Will be using again for help.</p>
			  		  			<span class="name text-dark">Landon Jones</span>
			  		  			<span class="time pull-right">Jul 15, 2016</span>
			  		  		</div>
			  		  	</li>
			  		  	<li class="list">
			  		  		<span class="avatar">
			  		  			<div class="img-rounded thumbnail-small-s text-center">
			  		  				LJ
			  		  			</div>
			  		  		</span>
			  		  		<div class="answer-wb">
			  		  			<p>On time and knowledgeable.  Will be using again for help.</p>
			  		  			<span class="name text-dark">Landon Jones</span>
			  		  			<span class="time pull-right">Jul 15, 2016</span>
			  		  		</div>
			  		  	</li>
			  		  	<li class="text-center list-p">
			  		  		<div class="btn white light btn-inline">
			  		  			<a href="#">Load More</a>
			  		  		</div>
			  		  	</li>
			  		  </ul>
			  		</div>
			  		<div id="tabs-2" class="questions single_question">
			  		  <div class="body">	
		  		  		<div class="all_answer">
		  		  			<a href="#" class="ques_a">Facebook Ads: Why is my landing page not converting after a thousand clicks of my FB ad?</a>
		  		  			<article>
		  		  				<div class="user-img">
		  		  					<img src="images/profile-img.jpg">
		  		  				</div>	
		  		  				<div class="content">
		  		  					<a href="#" class="answerer">
		  		  						<strong>Eric Silverthorn, Experienced in  management, sales and tech.</strong>answered
		  		  					</a>
		  		  					<div class="answer_list">
		  		  						<p>There are a couple possibilities:</p>
		  		  						<p><span>1) </span>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  						<p><span>1) </span>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  						
		  		  						<p>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  					</div>
		  		  					<div class="action_bar bottom">
		  		  						<div class="b-none btn orange small btn-inline">
		  		  							<a href="#"><i class="fa fa-phone"></i>Talk to lee</a>
		  		  						</div>
		  		  						<div class="btn light small btn-inline">
		  		  							<a href="#">Upvote</a>
		  		  						</div>
		  		  						<a href="#" class="right-f list-ss text-dark"><small>Report</small></a>
		  		  					</div>
		  		  				</div>
		  		  			</article>
		  		  		</div>	
		  		  		<div class="all_answer">
		  		  			<a href="#" class="ques_a">Facebook Ads: Why is my landing page not converting after a thousand clicks of my FB ad?</a>
		  		  			<article>
		  		  				<div class="user-img">
		  		  					<img src="images/profile-img.jpg">
		  		  				</div>	
		  		  				<div class="content">
		  		  					<a href="#" class="answerer">
		  		  						<strong>Eric Silverthorn, Experienced in  management, sales and tech.</strong>answered
		  		  					</a>
		  		  					<div class="answer_list">
		  		  						<p>There are a couple possibilities:</p>
		  		  						<p><span>1) </span>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  						<p><span>1) </span>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  						
		  		  						<p>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  					</div>
		  		  					<div class="action_bar bottom">
		  		  						<div class="b-none btn orange small btn-inline">
		  		  							<a href="#"><i class="fa fa-phone"></i>Talk to lee</a>
		  		  						</div>
		  		  						<div class="btn light small btn-inline">
		  		  							<a href="#">Upvote</a>
		  		  						</div>
		  		  						<a href="#" class="right-f list-ss text-dark"><small>Report</small></a>
		  		  					</div>
		  		  				</div>
		  		  			</article>
		  		  		</div>	
		  		  		<div class="all_answer">
		  		  			<a href="#" class="ques_a">Facebook Ads: Why is my landing page not converting after a thousand clicks of my FB ad?</a>
		  		  			<article>
		  		  				<div class="user-img">
		  		  					<img src="images/profile-img.jpg">
		  		  				</div>	
		  		  				<div class="content">
		  		  					<a href="#" class="answerer">
		  		  						<strong>Eric Silverthorn, Experienced in  management, sales and tech.</strong>answered
		  		  					</a>
		  		  					<div class="answer_list">
		  		  						<p>There are a couple possibilities:</p>
		  		  						<p><span>1) </span>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  						<p><span>1) </span>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  						
		  		  						<p>The perception you're creating with your ad, and the perception you're creating on the app store page may not be matching up. So the type of people that are being attracted to your ad, are not being attracted to your website. Meanwhile, people that would theoretically be attracted to your website presentation are never getting there because they're not attracted to your ad.</p>
		  		  					</div>
		  		  					<div class="action_bar bottom">
		  		  						<div class="b-none btn orange small btn-inline">
		  		  							<a href="#"><i class="fa fa-phone"></i>Talk to lee</a>
		  		  						</div>
		  		  						<div class="btn light small btn-inline">
		  		  							<a href="#">Upvote</a>
		  		  						</div>
		  		  						<a href="#" class="right-f list-ss text-dark"><small>Report</small></a>
		  		  					</div>
		  		  				</div>
		  		  			</article>
		  		  		</div>
			  		  </div>
			  		</div>
			  	</div>
			  </div>
			</div>
		</div>
	</div>
</div>
{%endblock%}