{%extends 'index.html'%}
{%block title%} Profile Edit {%endblock%}

{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="profile content">
			<div  class="basic-profile">
				<header class="search-banner small">
					<div class="wrapper">
						<h4 class="left-align"><a href="/users/profile"><i class="fa fa-angle-left"></i>Back</a></h4>
					</div>
				</header>
				<main>
					<div class="wrapper">
						<div class="tips">
							<header class="heading small">
								<h4><strong>Edit Profile</strong></h4>
							</header>
							<ul>
								<li>
									<a href="/users/profile/basic" class="basic-info internal">
										<h5>Basic Information</h5>
										<i class="fa fa-angle-right"></i>
									</a>
								</li>
								<li>
									<a href="/users/profile/photo" class="educational internal">
										<h5>Profile Photo</h5>
										<i class="fa fa-angle-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</main>
			</div>
		</div>
{%endblock%}
