{%extends 'index.html'%}

{%block title%}Basic Profile {%endblock%}
{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="profile content">
			<div  class="basic-profile">
				<header class="search-banner small">
					<div class="wrapper">
						<h4 class="left-align"><a href="/users/editProfile"><i class="fa fa-angle-left"></i>Back</a></h4>
					</div>
				</header>
				<main>
					<div class="wrapper">
						<header class="heading small">
							<h4><strong>Basic Information</strong></h4>
						</header>
						<div class="profile-edit">
							<div class="entry-content col-8">

								<form action="/users/profile/basic" method="POST">
									<div class="input-field">
										<label for="email">Email</label>
										<input type="email" name="altEmail" id="email" value="{{user.altEmail}}" placeholder="Enter your Email">
									</div>
									<div class="input-field">
										<label for="username">username</label>
										<input type="text" id="username" name="username" value="{{user.username}}" placeholder="Enter Username">
									</div>
									<div class="input-field">
										<label for="question">Phone Number</label>
										<input type="text" name="phone" value="{{user.phone.mobile}}" placeholder="Enter your Phone Number with Country Code">
										<p class="list-s text-dark-d">This is never shared and only used to send you notification</p>
									</div>
									<div class="input-field">
										<label for="address">Address</label>
										<textarea id="address" rows="4" name="address" placeholder="Enter your new address">{{user.address}}</textarea>
									</div>
									<div class="btn orange btn-inline">
										<button type="submit"><a>Submit</a></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
{%endblock%}
