{%extends 'index.html'%}
{%block title%} {{user.name}} Profile {%endblock%}
{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="profile content">
			<div class="short-bio dark-full user-menu">
				<div class="wrapper">

					<div class="col-3 col">
						<a href="#" class="internal block text-dark">
							<div class="image img-rounded thumbnail-small-s left-f">
								<img src="images/profile/default.png">
							</div>
							<h4 class="list-ss"><small>Hello</small></h4>
							<h5 class="list-s"><strong>{{user.name}}</strong></h5>
						</a>
					</div>
					{% if user._isMentor %}
					<div class="col-3 col">
						<a href="/users/dashboard" class="internal text-dark block">
							<div class="thumbnail-small-s left-f">
								<i class="fa fa-history icon-l text-dark"></i>
							</div>
							<h5 class="list-s"><strong>Your Histroy</strong></h5>
							<h4 class="list-ss"><small>Your Actions</small></h4>
						</a>
					</div>
					{%endif%}
					<!-- <div class="col-4 col">
						<a href="#" class="internal text-dark block">
							<div class="thumbnail-small-s left-f">
								<i class="fa fa-phone icon-l text-dark"></i>
							</div>
							<h5 class="list-s"><strong>Call requests</strong></h5>
							<h4 class="list-ss"><small>No new call request</small></h4>
						</a>
					</div> -->
					<div class="col-3 col">
						<a href="#" class="internal text-dark block">
							<div class="thumbnail-small-s left-f">
								<i class="fa fa-envelope-o icon-l text-dark"></i>
							</div>
							<h5 class="list-s"><strong>Inbox</strong></h5>
							<h4 class="list-ss"><small>{{user.messageCount}} messages</small></h4>
						</a>
					</div>

				</div>
			</div>

			<div class="account-info">
				<div class="wrapper">
					<div class="tips">
						<ul>
							<li>
								<a href="/users/editProfile" class="basic-info internal">
									<h4>Edit Profile</h4>
									<h6>Basic Infomation, Photo, Become an Mentor</h6>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
							<li>
								<a href="/users/education" class="educational internal">
									<h4>Educational Information</h4>
									<h6>Educational Information</h6>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
							<!-- To be implemented in later stage -->
							<!-- <li>
								<a href="/users/skills" class="basic-info internal">
									<h4>Skill Information</h4>
									<h6>Selected Skills, etc..</h6>
									<i class="fa fa-angle-right"></i>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
{%endblock%}
