{%extends 'index.html'%}
{%block title%}Signup{%endblock%}
{%block container%}
	<div class="login">
		<main>
			<div class="login-block" onsubmit="return false">
				<h1>SkillMaker</h1>
				<h2>Create a new account</h2>
				<form id="register">
					<div class="input-field">
						<i class="mdi mdi-account-outline"></i>
						<input required="" type="text" id="name" name="name" placeholder="Your name">
					</div>
					<div class="input-field">
						<i class="mdi mdi-email-outline"></i>
						<input required type="text" name="email" id="emailid" placeholder="Your email address">
					</div>
					<div class="input-field">
						<i class="mdi mdi-lock-outline"></i>
						<input required type="password" id="password" name="password" placeholder="Choose a password">
					</div>
					<div class="btn">
						<input type="submit" value="sign up">
					</div>
				</form>
				<div class="login-footer social">
					<h6>Or login with</h6>
					<br>
					<ul>
						<li><a href="#" class="facebook"><i class="mdi mdi-facebook"></i></a></li>
						<li><a href="#" class="twiiter"><i class="mdi mdi-twitter"></i></a></li>
						<li><a href="#" class="google"><i class="mdi mdi-google"></i></a></li>
					</ul>
				</div>
				<br>
				<div class="login-links">
					<p>Already have an account?
						<a href="/users/login">Login</a>
					</p>
				</div>
			</div>
		</main>
	</div>
{%endblock%}
{% block customScript %}
<script type="text/javascript">
	$('#register').submit(function(e){
 	var params = {"name": $('#name').val() ,
			  "email":$('#emailid').val(),
			  "password":$('#password').val()
			};
		console.log(params);
		$.ajax({
	    type: 'POST',
	    url : '../userSignup',
	    data: JSON.stringify(params),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
	    success : function(res){
          	console.log(res);
						bootbox.dialog({
							title : "<b>Alert</b>",
							message : res.messages,
							onEscape :function(){
								window.location = "/users/login";
							} ,
							backdrop : function(){
								window.location = "/users/login";
							}
						});
          },
          error : function(err){
						bootbox.dialog({
							title : "<b>Alert</b>",
							message : "Error Encountered while registering. Try Again or Contact Admin if the problem persists.",
							onEscape :true ,
							backdrop : true,
							callback
						});
          	console.log(err);
          }
      });
		console.log($('#name').val(),$('#emailid').val(),$('#password').val());
	});
</script>
{%endblock%}
