{% extends 'index.html'%}
{% block title %}Search {%endblock%}
{% block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="skill-category b-bottom dark-top">
			<div class="wrapper">
				<article class="business">
					<a href="#">
						<h4>Business</h4>
						<div class="icon"></div>
						<div class="content">
							<p>Career Advice, Branding, Financial Consulting, Customer Engagement</p>
						</div>
					</a>
				</article>
				<article class="sales-marketing">
					<a href="#">
						<h4>Sales & Marketing</h4>
						<div class="icon"></div>
						<div class="content">
							<p>Social Media Marketing, Search Engine Optimization, Public</p>
						</div>
					</a>	
				</article>
				<article class="funding">
					<a href="#">
						<h4>Funding</h4>
						<div class="icon"></div>
						<div class="content">
							<p>Crowdfunding, Kickstarter, Venture Capital, Finance, Bootstrapping, Nonprofit,</p>
						</div>	
					</a>
				</article>
				<article class="product">
					<a href="#">
						<h4>Product & Design</h4>
						<div class="icon"></div>
						<div class="content">
							<p>Identity, User Experience, Lean Startup, Product Management, Metrics</p>
						</div>
					</a>	
				</article>
				<article class="technology">
					<a href="#">
						<h4>Technology</h4>
						<div class="icon"></div>
						<div class="content">
							<p>WordPress, Software Development, Mobile, Ruby, CRM, Innovation</p>
						</div>
					</a>	
				</article>
				<article class="skills">
					<a href="#">
						<h4>Skills & Management</h4>
						<div class="icon"></div>
						<div class="content">
							<p>Productivity, Entrepreneurship, Public Speaking, Leadership, Coaching, Other</p>
						</div>	
					</a>
				</article>
				<article class="industries">
					<a href="#">
						<h4>Industries</h4>
						<div class="icon"></div>
						<div class="content">
							<p>SaaS, E-commerce, Education, Real Estate, Restaurant & Retail</p>
						</div>
					</a>	
				</article>
				<article class="other">
					<a href="#">
						<h4>Business</h4>
						<div class="icon"></div>
						<div class="content">
							<p>The other stuff ... not business related, but still interesting and from our </p>
						</div>
					</a>	
				</article>
			</div>			
		</div>			

		<div class="skill-list">
			<div class="wrapper">
				<div class="filter b-bottom">
					<div class="tabs">
						
						<ul>
							<!-- showing
							<li><a class="active" href="#">Featured</a></li>
							<li><a href="#">Popular</a></li>
							<li><a href="#">New</a></li> -->
						</ul>
						<!-- <div class="sorting">
							Sort by: 
							<a href="#">
								<div class="dropdown">
									<a href="#">Best Match</a>
								</div>
							</a>
						</div> -->
					</div>	
				</div>
				<div class="lists page-content b-bottom">
				{% for data in result%}
					<article>
						<div class="thumbnail-classic">
							<img src="images/skill-list-1.jpg">
						</div>	
						<div class="content">
							<h4><a href="/users/skill/{{data._id.toString()}}">{{data.name}}</a></h4>
							<div class="stars list-ss">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<span>( 3 REVIEWS )</span>
							</div>
							<div class="info tt-u">
								<ul>
									<li>
										<a href="#"><i class="fa fa-user"></i>{{data.mentorName}}</a>
									</li>
									<li>
										<span><i class="fa fa-users"></i>{{data.category}}</span>
									</li>
								</ul>
							</div>
						</div>
					</article>
					{%endfor%}
<!-- 
					<div class="text-center">
						<div class="btn black tt-u btn-inline">
							<a href="#">Load more</a>
						</div>		
					</div>	 -->
				</div>		
			</div>		
		</div>		
{%endblock%}