{% extends 'index.html'%}
{% block title%}Login {%endblock%}
{%block container%}
	<div class="login">
		<main>
			<div class="login-block">
				<h1>SkillMaker</h1>
				<h2>Log into your account</h2>
				<form method="POST" action="/users/userslogin">
					<div class="input-field">
						<i class="mdi mdi-email-outline"></i>
						<input type="text" name="username" placeholder="Email">
					</div>
					<div class="input-field">
						<i class="mdi mdi-lock-outline"></i>
						<input type="password" name="password" placeholder="Password">
					</div>
					<div class="btn">
						<input type="submit" value="LOGIN">
					</div>
				</form>
				<div class="login-footer social">
					<h6>Or login with</h6>
					<ul>
						<li><a href="#" class="facebook"><i class="mdi mdi-facebook"></i></a></li>
						<li><a href="#" class="twiiter"><i class="mdi mdi-twitter"></i></a></li>
						<li><a href="#" class="google"><i class="mdi mdi-google"></i></a></li>
					</ul>
				</div>
				<br>
				<div class="login-links">
				<a href="/users/forgot" class="pull-left">Forget Password?</a>
				<a href="/users/signup" class="pull-right">Register an account</a>
				</div>
			</div>
		</main>
	</div>
{%endblock%}
