{%extends '../users/index.html' %}
{%block container%}
<div class="viewport">
	<div class="header-tablet">
		<div class="hamburger">
			<span class="nav-btn"></span>
		</div>
		<div class="logo text-center">
			<a href="#">
				<img src="images/logo.png" alt="SkillMaker">
			</a>
		</div>
	</div>

	<div class="questions new_question single_question">
		<header class="search-banner small">
			<div class="wrapper">
				<h4 class="left-align"><a href="#"><i class="fa fa-angle-left"></i>Back</a></h4>
			</div>
		</header>
		<div class="body">

			<div class="dark-full question_sec text-dark-d space-bottom-20">
				<div class="wrapper heading">
					<h3 class="heading_q">{{data.question}}</h3>
					<div class="action_bar">
						{% if user._isMentor %}<a href="#" class="btn" onclick="answerbox()">Answer<code>{%if data.answerCount %}{{data.answerCount}}{%else%}0{%endif%}</code></a>{%endif%}
						<!-- <a href="#">follow<code>{{data.follow}}</code></a> -->
						<a href="#">comment<code>{%if data.commentCount%}{{data.commentCount}}{%else%}0{%endif%}</code></a>
						<!-- <a href="#">share<code>5</code></a> -->
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="left-content">

					<div class="all_answer">
						<h4 class="heading_q">{{data.answerCount}}</h4>
						<div id ="ans"></div>
					</div>
				</div>
				<div class="sidebar-content">

					<h4 class="heading_q top">Related Questions</h4>
					<ul class="block">
						<li>
							<a href="#" class="ques_a">Looking to learn about targeting ads with a list of web-scrapped email addresses. What are my options?</a>
							<a href="#" class="answer-wb">
								<div class="user_answer">
									<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
									<p>Never start work with a client before having a signed contract in hand.  The contract is the first step to making sure that both parties understand the expectations of the project such as payment expectations, the deliverable, the project schedule.  </p>
									<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
								</div>
								<div class="user_name">
									Eric Silverthorn
								</div>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block customScript %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
	function answerbox(){
		console.log($('#ans').length);
		if($("#ans").length<1) {
		  //it doesn't exist
			$('#answer').append('<textarea id="ans"></textarea>');
			tinymce.init( {
			selector: 'textarea',
			height: 200,
			theme: 'modern',
			elementpath: false,
			plugins: [
				'advlist autolink lists link image charmap preview hr anchor pagebreak',
				'searchreplace wordcount visualblocks visualchars code fullscreen',
				'insertdatetime nonbreaking table contextmenu directionality',
				'emoticons template paste textcolor colorpicker textpattern imagetools'
			],
			toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
			toolbar2: ' preview | forecolor backcolor emoticons',
			content_css: [
				'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
				'//www.tinymce.com/css/codepen.min.css'
			]
		 });
		 $('.submit').append('<br><a href="#" class="sub" onclick="submit()">Submit</a>');
		}
	}
	function submit(){
		var params = {"answer":tinyMCE.activeEditor.getContent()};
		$.ajax({
          type: 'POST',
          url : "../addAnswer",
          data: JSON.stringify(params),
          contentType: "application/json; charset=utf-8",
          success: function(res) {
						location.reload();
					},
					error: function(err,error)
					{
						bootbox.alert("Faced Internal Error. Please Try again");
						console.log(err,"error");
					}
				});
		console.log(tinyMCE.activeEditor.getContent());
	}
	var arr =  window.location.pathname.split('/')
	console.log(arr);
	var id = arr[arr.length-1];
	var params = {"id":id};
	console.log("params",params);
	$.ajax({
				type: 'POST',
				url : "../questionData",
				data: JSON.stringify(params),
				contentType: "application/json; charset=utf-8",
				success: function(res) {
					console.log(res);
					var message ="";
					var ans = res.answers;
					console.log(ans);
					for (var i=0;i<ans.length;i++)
					{
						console.log(ans.user);
						message ='<a href="/users/profile/'+ans[i].user._id.toString()+'" class="user-img"><img src="images/profile/"'+ans[i].user.image>+'</a>'+
					'	<div class="content">'+
							'<a href="#" class="user-ans"><b>'+ans[i].user.name+'</b>answered</a>'+
							'<div class="answer_list">'+
								ans[i].answer+
							'</div>'+
							'<div class="action_bar bottom">'+
								'<p>'+moment(ans[i].time,"MMMM Do YYYY, h:mm:ss a").fromNow()+'</p>'+
								'<div class="btn btn-inline light small">'+
									'<a id="answer_'+ans[i]._id+'" class="btn">Upvote</a><code>'+ans[i].upvotes+'</code>'+
							'	</div>'+
								'<a class="comment">Comments <code>'+ans[i].commentCount+'</code></a>'+
							'</div>'+
					'	</div>';
					var co = ans[i].comments;
					for(int j=0;j<ans[i].comments.length;j++)
					{
						message =message +'<div class="sub-comment">'+
							'<article>'+
								'<a href="#]" class="user-img"><img src="images/question_thumb.jpeg"></a>'+
								'<div class="content">'+
									'<a href="/users/profile/'+co[j].user.image+'" class="user-ans"><b>'+co[j].user.name+','+co.user.descriptions+'</b>answered</a>'+
									'<div class="answer_list">'+
										'<p>'+co[j].comment+' </p>'+
								'	</div>'+
									'<div class="action_bar bottom">'+
										'<p>'+moment(co[j].time,"MMMM Do YYYY, h:mm:ss a").fromNow()+'</p>'+
										'<div class="btn btn-inline light small">'+
												'<a id="comment_'+co[j]._id+'" class="btn">Upvote</a><code>'+co[j].upvotes+'</code>'+
									'	</div>'+
									'</div>'+
							'	</div>'+
							'</article>';
						}
						message = message +	'</div>'+
						'</article>'+
										'</div>';
						$('.all_answer').append(message);
					}
				},
				error: function(err,error)
				{
					console.log(err,"error");
				}
			});
</script>
{%endblock%}
