{%extends 'index.html' %}
{% block title %} Skills {% endblock %}

{% block container%}
	<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>
		
		<div class="skill-single">
			<header class="dark-top">
				<div class="container">
					<h3 class="tt-u f-light left-align">{{skill.name}}</h3>
				</div>
			</header>
			<div class="wrapper page-content b-bottom">
				<div class="detail-post radius-small text-light">
					<span class="category radius-small"><a href="#">{{skill.category}}</a></span>
					<h4 class="f-light">{{skill.name}}</h4>
					<p class="list-p">{{skill.about}}</p>					
				</div>

				<div class="brief">
					<header class="heading">
						<h2>Why you should learn this skill?</h2>
					</header>
					<main>
						<p class="list-p">{{skill.reason}}</p>
					</main>	
				</div>
			</div>

			<div class="mentors">
				<div class="wrapper">
					<header class="heading">
						<h2>Popular Mentors for this course</h2>
					</header>
					<main>
						<div class="wrapper">
							<div class="content">
								<div class="contacts-list">
									<ul>
									{% for mentors in skill.mentors%}
										<li class="card radius-small">
											<div class="thumbnail-small radius-small col-3">
												<a href="#"><img src="images/skill-1.jpg"></a>
											</div>	
											<div class="content col-6">
												<a href="#" class="name text-black">{{mentor.name}}</a>
												<div class="profile-text">
													<h6 class="text-dark list-ss"><span class="text-logo">{{mentor.mentor2.category}}</span>/<span class="text-logo">Other</span></h6>
													<p>{{mentor.mentor1.miniResume}}</p>
												</div>
											</div>	
											<div class="request-side text-center">
												<h3><b>{{mentor.mentor1.rate}}</b></h3>
												<p><small>per minute</small></p>
												<div class="btn orange btn-inline small">
													<a href="#">Request a call</a>
												</div>
												<div class="stars list-ss">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<span><!--(65) --></span>
												</div>
											</div>
										</li>
										<hr>
									{%endfor%}
									</ul>
								</div>
							</div>
						</div>
						<div class="text-center">
							<div class="btn black tt-u btn-inline">
								<a href="#">see all mentors</a>
							</div>	
						</div>
						
					</main>
					<hr>
				</div>		
			</div>

		<!-- 	<div class="questions questions_home">
				<div class="container">
					<header class="heading">
						<h2>Popular Questions</h2>
					</header>
					<main class="content clear">
						<article>
							<div class="topics">
								<h6>Payments: Legal Advice, Startups</h6>
							</div>
							<h2><a href="#" class="ques_a">We're a small startup studio & were commissioned to develop a creative video by a corporation. We completed the work but didn't receive full payment.</a></h2>
							<div class="meta">
								<h6>1 answer, 4 days ago</h6>
							</div>	
							<a href="#" class="answer-wb">
								<div class="user_answer">
									<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
									<p>Never start work</p>
									<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
								</div>
								<div class="user_name">
									Eric Silverthorn
								</div>
							</a>
						</article>
						<article>
							<div class="topics">
								<h6>Payments: Legal Advice, Startups</h6>
							</div>
							<h2><a href="#" class="ques_a">We're a small startup studio & were commissioned to develop a creative video by a corporation. We completed the work but didn't receive full payment.</a></h2>
							<div class="meta">
								<h6>1 answer, 4 days ago</h6>
							</div>	
							<a href="#" class="answer-wb">
								<div class="user_answer">
									<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
									<p>I find it helpful to get a down payment from a client to be sure that they are "invested" in the project.</p>
								</div>
								<div class="user_name">
									Eric Silverthorn
								</div>
							</a>
						</article>
						<article>
							<div class="topics">
								<h6>Payments: Legal Advice, Startups</h6>
							</div>
							<h2><a href="#" class="ques_a">We're a small startup studio & were commissioned to develop a creative video by a corporation. We completed the work but didn't receive full payment.</a></h2>
							<div class="meta">
								<h6>1 answer, 4 days ago</h6>
							</div>	
							<a href="#" class="answer-wb">
								<div class="user_answer">
									<p>I own a software development company based in Dallas, Texas and over the years have experienced several of the issues mentioned in your post. </p>
									<p>Never start work with a client before having a signed contract in hand.  The contract is the first step to making sure that both parties understand the expectations of the project such as payment expectations, the deliverable, the project schedule.  </p>
								</div>
								<div class="user_name">
									Eric Silverthorn
								</div>
							</a>
						</article>
					</main>-->
				</div>
			</div> 

{%endblock container%}
