{% extends 'index.html' %}

{%block title%}Event - {{data.name}}{%endblock%}

{%block container%}

<div class="viewport">
	<div class="header-tablet">
		<div class="hamburger">
			<span class="nav-btn"></span>
		</div>
		<div class="logo text-center">
			<a href="#">
				<img src="images/logo.png" alt="SkillMaker">
			</a>
		</div>
	</div>

	<div class="events event-single page-content event-banner" style="  background-image: url('uploads/{{data.file}}');
">
		<div class="container">
			<h1>{{data.name}} </h1>
			<p><i>{{data.brief}}</i></p>	
		</div>
	</div>

	<div class="event-single__body page-content">
		<div class="container">
			<div class="event-single__desc">
				<h4 class="event-single--title"><i>Detail</i></h4>
				<div class="event-single--body">
					<p class="list-p">{{data.description}}</p>
					<p class="list-p">{{data.pricing}} {{data.currency}}</p>
				</div>
			</div>
			<div class="event-single__detail">
				<div class="event-single--item">
					<h4 class="event-single--title"><i>Date</i></h4>
					<h3 class="event-single--detail">{{data.timing}}</h3>
				</div>
				<div class="event-single--item">
					<h4 class="event-single--title"><i>Last Date</i></h4>
					<h3 class="event-single--detail">{{data.lastDate}}</h3>
				</div>
				<div class="event-single--item">
					<h4 class="event-single--title"><i>Location</i></h4>
					<h3 class="event-single--detail">103 Bay Street <br>Santa Monica, CA 90403</h3>
				</div>
			</div>
		</div>	
	</div>	

	<div class="related-events">
		<div class="container">
			<div class="related-events__item">
				<header>
					<h4>ALL EVENTS</h4>
				</header><!-- /header -->
				<div class="card"">
					<ul class="related-events__item--slider">
						<li class="card__item dark-full radius-small">
							<a href="#">
								<div class="card__img thumbnail-classic">
									<img src="images/skill-2.jpg">
								</div>
								<div class="card__text">
									<h5 class="card__title">Lorem ipsum dolor sit, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt</h5>
									<p><small></small>Lorem ipsum dolor sit onsectetur elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
								</div>
							</a>
						</li>
						<li class="card__item dark-full radius-small">
							<a href="#">
								<div class="card__img thumbnail-classic">
									<img src="images/skill-2.jpg">
								</div>
								<div class="card__text">
									<h5 class="card__title">Lorem ipsum dolor sit, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt</h5>
									<p><small></small>Lorem ipsum dolor sit onsectetur elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
								</div>
							</a>
						</li>
						<li class="card__item dark-full radius-small">
							<a href="#">
								<div class="card__img thumbnail-classic">
									<img src="images/skill-2.jpg">
								</div>
								<div class="card__text">
									<h5 class="card__title">Lorem ipsum dolor sit, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt</h5>
									<p><small></small>Lorem ipsum dolor sit onsectetur elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>	
</div>

{%endblock%}