{%extends 'index.html'%}

{%block title%}{%endblock%}

{%block container%}
<div class="viewport">
		<div class="header-tablet">
			<div class="hamburger">
				<span class="nav-btn"></span>
			</div>
			<div class="logo text-center">
				<a href="#">
					<img src="images/logo.png" alt="SkillMaker">
				</a>
			</div>
		</div>

		<div class="chapter">
			<div class="wrapper">
				<article>
					<header class="heading">
						<h3>Chapter of {{data.name}}</h3>
						<p>{{data.brief}}</p>
					</header>
					<div class="chapter__info">
						<p class="list-p">{{data.info}}</p>
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing sit amet, consectetur adipisicing </li>
							<li>Lorem ipsum dolor sit amet, consectetur </li>
						</ul>
					</div>
				</article>
				<article>
					<header class="heading">
						<h3>Moderators</h3>
					</header>
					<div class="card">
						<div class="card__item dark-top radius-small">
							<div class="card__img">
								<img src="images/profile-img.jpg" class="img-rounded thumbnail-small">
							</div>
							<div class="card__text">
								<h5 class="card__title">Aileen Farrelly </h5>
								<h6>(718) 862-7223</h6>
								<h6>aileen.farrelly@skillmaker.co</h6>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card__item dark-top radius-small">
							<div class="card__img">
								<img src="images/profile-img.jpg" class="img-rounded thumbnail-small">
							</div>
							<div class="card__text">
								<h5 class="card__title">Aileen Farrelly </h5>
								<h6>(718) 862-7223</h6>
								<h6>aileen.farrelly@skillmaker.co</h6>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card__item dark-top radius-small">
							<div class="card__img">
								<img src="images/profile-img.jpg" class="img-rounded thumbnail-small">
							</div>
							<div class="card__text">
								<h5 class="card__title">Aileen Farrelly </h5>
								<h6>(718) 862-7223</h6>
								<h6>aileen.farrelly@skillmaker.co</h6>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>

		<div class="chapter activities">
			<div class="wrapper">
				<header class="heading">
					<h3>What's happening at Alpha School</h3>
				</header>
				<div class="activities__event">

					<div class="list-p sort-by">
						<div class="right-f">
							<b>Sort by: </b>Upcoming
						</div>	
					</div>

					<div class="timeline">
						<article class="timeline__item">
							<div class="timeline__date">
								<p>28th july</p>
								<h4>2016</h4>
							</div>
							<div class="timeline__body">
								<div class="answer-wb">
									<a href="#" class="timeline__title">NATIONAL MERIT SEMIFINALISTS</a>
									<p>We are thrilled to announce that four Wesleyan seniors have been honored as National Merit Semifinalists. Only 1% of seniors (approximately 16,000 total) nation-wide receive this recognition based on their PSAT scores. Our semifinalists are Angela Yang, Anna Ree, Chapman Pendery, and Sara Carmichael. These students will now submit essays in the hopes of becoming finalists</p>
								</div>
							</div>
						</article>
						<article class="timeline__item">
							<div class="timeline__date">
								<p>28th july</p>
								<h4>2016</h4>
							</div>
							<div class="timeline__body">
								<div class="answer-wb">
									<a href="#" class="timeline__title">NATIONAL MERIT SEMIFINALISTS</a>
									<p>We are thrilled to announce that four Wesleyan seniors have been honored as National Merit Semifinalists. Only 1% of seniors (approximately 16,000 total) nation-wide receive this recognition based on their PSAT scores. Our semifinalists are Angela Yang, Anna Ree, Chapman Pendery, and Sara Carmichael. These students will now submit essays in the hopes of becoming finalists</p>
								</div>
							</div>
						</article>
						<article class="timeline__item">
							<div class="timeline__date">
								<p>28th july</p>
								<h4>2016</h4>
							</div>
							<div class="timeline__body">
								<div class="answer-wb">
									<a href="#" class="timeline__title">NATIONAL MERIT SEMIFINALISTS</a>
									<p>We are thrilled to announce that four Wesleyan seniors have been honored as National Merit Semifinalists. Only 1% of seniors (approximately 16,000 total) nation-wide receive this recognition based on their PSAT scores. Our semifinalists are Angela Yang, Anna Ree, Chapman Pendery, and Sara Carmichael. These students will now submit essays in the hopes of becoming finalists</p>
								</div>
							</div>
						</article>
						<article class="timeline__item">
							<div class="timeline__date">
								<p>28th july</p>
								<h4>2016</h4>
							</div>
							<div class="timeline__body">
								<div class="answer-wb">
									<a href="#" class="timeline__title">NATIONAL MERIT SEMIFINALISTS</a>
									<p>We are thrilled to announce that four Wes, Chapman Pendery, and Sara Carmichael. These students will now submit essays in the hopes of becoming finalists</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}