{% extends 'navUser.html'%}
{% block content %}
  <h2 class="page-title">Manage Blog</h2>

  <!-- Zero Configuration Table -->
  <div class="panel panel-default">
    <div class="panel-heading">Skill Information</div>
    <div class="panel-body">
      <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Heading</th>
            <th>Posted on</th>
            <th>Edit</th>
            <th>Drop</th>
          </tr>
        </thead>
        <tbody>
          {% for data in data.blog %}
            <tr>
              <td>{{data.heading}}</td>
              <td>{{data.timestamp}}</td>
              <td><a href="/users/editBlog/{{data._id.toString()}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
              <td><i class="fa fa-trash"></i></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
